﻿
<!DOCTYPE html>




<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/assets/img/apple-icon.png">
    <link rel="icon" href="~/assets/img/favicon.png">
    <title>
        HomePage
    </title>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/material-kit.mine8da.css?v=2.0.3">

</head>


<!-- this the section of LOGIN form-->


<div class="modal fade" id="loginModal" tabindex="-1" role="">
    <div class="modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain card-container manual-flip">
                <div class="modal-header">
                    <div class="card-header card-header-primary text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                        <h4 class="card-title">Log in</h4>
                        @*<div class="social-line">
                                <a href="#pablo" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-google-plus"></i>
                                    <div class="ripple-container"></div>
                                </a>
                            </div>*@

                        <div class="social text-center">
                            <button class="btn btn-just-icon btn-round btn-twitter">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button class="btn btn-just-icon btn-round btn-google">
                                <i class="fa fa-google"> </i>
                            </button>
                            <button class="btn btn-just-icon btn-round btn-facebook">
                                <i class="fa fa-facebook"> </i>
                            </button>

                        </div>
                    </div>
                </div>
                <form class="form" action="~/User/Login" method="post">
                    <div class="modal-body">

                        <p class="description text-center">Or Be Classical</p>
                        <div class="card-body">

                            @*<div class="form-group bmd-form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">face</i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="First Name...">
                                    </div>
                                </div>*@

                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">email</i>
                                    </span>
                                    <input type="text" name="email" class="form-control" placeholder="Email...">
                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    <input type="password" name="password" placeholder="Password..." class="form-control">
                                </div>
                            </div>

                            <a href="#" onclick="rotateCard(this)">Forgot password?</a>

                        </div>

                    </div>
                    <div class="modal-footer justify-content-center">
                        @*<a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">Get Started</a>*@
                        <button class="btn btn-primary btn-link btn-wd btn-lg" type="submit">Get Started</button>

                    </div>
                    <p>@ViewBag.LoginErrorMessage</p>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- LOGIN section END------->

<!-- Section for SignUp modal-->


<div class="modal fade bd-example-modal-lg" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title card-title text-center">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>

            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <select class="selectpicker " data-style="select-with-transition" title="Single Select" data-size="7">
                        <option disabled>Choose city</option>
                        <option value="2">Foobar</option>
                        <option value="3">Is great</option>
                    </select>
                </div>
            </div>
            ---
        </div>
    </div>
</div>





<!-- end section for SignUp modal-->

<body class="index-page">
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">

                @*<div class="media">
                        <a class="float-left" href="#pablo">
                            <div class="avatar">
                                <img class="media-object" alt="64x64" src="~/assets/img/faces/avatar.jpg">
                            </div>
                        </a>
                    </div>*@

                <a class="navbar-brand" href="index.html">Trainers Pool </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="material-icons">apps</i> Tasks
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="index.html" class="dropdown-item">
                                <i class="material-icons">layers</i> Home
                            </a>
                            <a href="~/User/AddorEdit" class="dropdown-item">
                                <i class="material-icons">content_paste</i> Registration
                            </a>
                            <a href="~/User/Registration_test" class="dropdown-item">
                                <i class="material-icons">content_paste</i> Registration1
                            </a>
                            <a href="~/Home/About" class="dropdown-item">
                                <i class="material-icons">content_paste</i> About
                            </a>
                            <a href="~/Home/Contact" class="dropdown-item">
                                <i class="material-icons">content_paste</i> Contact
                            </a>
                            <a href="~/Admin/MyProfile" class="dropdown-item">
                                <i class="material-icons">content_paste</i> Administration
                            </a>
                            <a href="~/User/SignUp" class="dropdown-item">
                                <i class="material-icons">content_paste</i> SignUp Wizard
                            </a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="material-icons">view_day</i> Sections
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="sections.html#headers" class="dropdown-item">
                                <i class="material-icons">dns</i> Headers
                            </a>
                            <a href="sections.html#features" class="dropdown-item">
                                <i class="material-icons">build</i> Features
                            </a>
                            <a href="sections.html#blogs" class="dropdown-item">
                                <i class="material-icons">list</i> Blogs
                            </a>
                            <a href="sections.html#teams" class="dropdown-item">
                                <i class="material-icons">people</i> Teams
                            </a>
                            <a href="sections.html#projects" class="dropdown-item">
                                <i class="material-icons">assignment</i> Projects
                            </a>
                            <a href="sections.html#pricing" class="dropdown-item">
                                <i class="material-icons">monetization_on</i> Pricing
                            </a>
                            <a href="sections.html#testimonials" class="dropdown-item">
                                <i class="material-icons">chat</i> Testimonials
                            </a>
                            <a href="sections.html#contactus" class="dropdown-item">
                                <i class="material-icons">call</i> Contacts
                            </a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="material-icons">view_carousel</i> Examples
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="examples/about-us.html" class="dropdown-item">
                                <i class="material-icons">account_balance</i> About Us
                            </a>
                            <a href="examples/blog-post.html" class="dropdown-item">
                                <i class="material-icons">art_track</i> Blog Post
                            </a>
                            <a href="examples/blog-posts.html" class="dropdown-item">
                                <i class="material-icons">view_quilt</i> Blog Posts
                            </a>
                            <a href="examples/contact-us.html" class="dropdown-item">
                                <i class="material-icons">location_on</i> Contact Us
                            </a>
                            <a href="examples/landing-page.html" class="dropdown-item">
                                <i class="material-icons">view_day</i> Landing Page
                            </a>
                            <a href="examples/login-page.html" class="dropdown-item">
                                <i class="material-icons">fingerprint</i> Login Page
                            </a>
                            <a href="examples/pricing.html" class="dropdown-item">
                                <i class="material-icons">attach_money</i> Pricing Page
                            </a>
                            <a href="examples/ecommerce.html" class="dropdown-item">
                                <i class="material-icons">store</i> Ecommerce Page
                            </a>
                            <a href="examples/product-page.html" class="dropdown-item">
                                <i class="material-icons">shopping_cart</i> Product Page
                            </a>
                            <a href="examples/profile-page.html" class="dropdown-item">
                                <i class="material-icons">account_circle</i> Profile Page
                            </a>
                            <a href="examples/signup-page.html" class="dropdown-item">
                                <i class="material-icons">person_add</i> Signup Page
                            </a>

                        </div>
                    </li>
                    <li class="button-container nav-item iframe-extern">
                        <button class="btn btn-round btn-rose btn-block" data-toggle="modal" data-target="#signupModal">
                            <i class="material-icons">assignment</i>
                            SignUp
                        </button>
                    </li>
                    <li class="button-container nav-item iframe-extern">
                        <button class="btn btn-round" data-toggle="modal" data-target="#loginModal">
                            <i class="material-icons">assignment</i>
                            Login
                        </button>
                    </li>
                    <li class="button-container nav-item iframe-extern">
                        <button class="btn btn-round" data-toggle="modal" data-target="#testModal">
                            <i class="material-icons">details</i>
                            Login
                        </button>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <!--     *********     HEADER 2      *********      -->

    @RenderBody()

    <footer class="footer ">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="#">
                            Trainers Pool
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy;
                <script>document.write(new Date().getFullYear())</script>, made with <i class="material-icons">favorite</i> by <a href="#" target="_blank">ElephantTree</a> for a better platform.
            </div>
        </div>

    </footer>

    <!--     *********    END HEADER 2      *********      -->
    <!--   Core JS Files   -->
    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/bootstrap-material-design.min.js"></script>



    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src="~/assets/js/material-kit.mine8da.js?v=2.0.3"></script>


</body>


<!-- this the section of test modal-->


<div class="modal fade" id="testModal" tabindex="-1" role="">
    <div class="modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">

                <div class="modal-body">

                    <!--Rotating card second-->

                    <div class="col-md-6 col-lg-4">
                        <div class="rotating-card-container manual-flip">
                            <div class="card card-rotate">
                                <div class="front front-background" style="background-image: url('assets/img/examples/card-blog6.jpg');">
                                    <div class="card-body">
                                        <h6 class="card-category">Full Background Card</h6>
                                        <a href="#pablo">
                                            <h3 class="card-title">This card is doing a full rotation, click on the rotate button</h3>
                                        </a>
                                        <p class="card-description">
                                            Don't be scared of the truth because we need to restart the human...
                                        </p>
                                        <div class="stats text-center">
                                            <button type="button" name="button" class="btn btn-danger btn-fill btn-round btn-rotate">
                                                <i class="material-icons">refresh</i> Rotate...
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="back back-background" style="background-image: url('assets/img/examples/card-blog6.jpg');">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Manage Post
                                        </h5>
                                        <p class="card-description">As an Admin, you have shortcuts to edit, view or delete the posts.</p>
                                        <div class="stats text-center">
                                            <a href="#pablo" class="btn btn-info btn-just-icon btn-fill btn-round">
                                                <i class="material-icons">subject</i>
                                            </a>
                                            <a href="#pablo" class="btn btn-success btn-just-icon btn-fill btn-round btn-wd">
                                                <i class="material-icons">mode_edit</i>
                                            </a>
                                            <a href="#pablo" class="btn btn-danger btn-just-icon btn-fill btn-round">
                                                <i class="material-icons">delete</i>
                                            </a>
                                            <br>
                                            <br>
                                            <button type="button" name="button" class="btn btn-success btn-fill btn-round btn-rotate">
                                                <i class="material-icons">refresh</i> Back...
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--end of Rotating card second-->


                    <form class="form" method="" action=""></form>
                </div>
                <div class="modal-footer justify-content-center">
                    <a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- test section END------->
<!--   Core JS Files   -->
<script src="~/assets/js/core/jquery.min.js"></script>
<script src="~/assets/js/core/popper.min.js"></script>
<script src="~/assets/js/bootstrap-material-design.min.js"></script>
<!--  Google Maps Plugin  -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
<script src="~/assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="~/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="~/assets/js/plugins/nouislider.min.js"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="~/assets/js/plugins/bootstrap-selectpicker.js"></script>
<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="~/assets/js/plugins/bootstrap-tagsinput.js"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="~/assets/js/plugins/jasny-bootstrap.min.js"></script>
<!--	Plugin for Small Gallery in Product Page -->
<script src="~/assets/js/plugins/jquery.flexisel.js"></script>
<!-- Plugins for presentation and navigation  -->
<script src="~/assets/assets-for-demo/js/modernizr.js"></script>
<script src="~/assets/assets-for-demo/js/vertical-nav.js"></script>
<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="~/assets/js/material-kit.mine8da.js?v=2.0.3"></script>
<!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
<script src="~/assets/assets-for-demo/js/material-kit-demo.js"></script>