﻿<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demos.creative-tim.com/material-dashboard-pro/examples/charts.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 29 Mar 2018 15:33:24 GMT -->
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/assets/img/apple-icon.png">
    <link rel="icon" href="~/assets/img/favicon.png">
    <title>
        TP &#45; ElephantTree

    </title>




    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />

    <link rel="stylesheet" href="~/assets/css/material-dashboard.min790f.css?v=2.0.1">
    <link rel="stylesheet" href="~/assets/css/material-kit.mine8da.css">

    <!-- required for rotation-->
    <link href="~/assets/css/rotating-card.css" rel="stylesheet" />
    @*<link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />*@





    <script type="text/javascript">
        if (document.readyState === 'complete') {
            if (window.location != window.parent.location) {
                const elements = document.getElementsByClassName("iframe-extern");
                while (elemnts.lenght > 0) elements[0].remove();
                // $(".iframe-extern").remove();
            }
        };
    </script>


</head>
<body class="">
    <div class="wrapper">


        <div class="main-panel">
            <!-- Navbar -->
            @*<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">*@
            <nav class="navbar  bg-white   fixed-top  navbar-expand-lg " id="sectionsNav">

                <div class="container">
                    <div class="navbar-wrapper">
                        <div class="navbar-minimize">
                            <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                                <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                                <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                            </button>
                        </div>
                        @*<div class="logo-container logo-documentation">
                                <div class="logo">
                                    <img src="~/assets/img/apple-icon.png" alt="Creative Tim Logo">
                                </div>

                            </div>*@

                    </div>
                    <div class="navbar-translate">
                        <a class="navbar-brand" href="index.html">Trainers Pool </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <i class="material-icons">apps</i> Tasks
                                </a>
                                <div class="dropdown-menu dropdown-with-icons">
                                    <a href="index.html" class="dropdown-item">
                                        <i class="material-icons">layers</i> Home
                                    </a>
                                    <a href="~/User/AddorEdit" class="dropdown-item">
                                        <i class="material-icons">content_paste</i> Registration
                                    </a>
                                    <a href="~/User/Registration_test" class="dropdown-item">
                                        <i class="material-icons">content_paste</i> Registration1
                                    </a>
                                    <a href="~/Home/About" class="dropdown-item">
                                        <i class="material-icons">content_paste</i> About
                                    </a>
                                    <a href="~/Home/Contact" class="dropdown-item">
                                        <i class="material-icons">content_paste</i> Contact
                                    </a>
                                    <a href="~/Admin/MyProfile" class="dropdown-item">
                                        <i class="material-icons">content_paste</i> Administration
                                    </a>
                                    <a href="~/User/SignUp" class="dropdown-item">
                                        <i class="material-icons">content_paste</i> SignUp Wizard
                                    </a>
                                </div>
                            </li>
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <i class="material-icons">view_day</i> Sections
                                </a>
                                <div class="dropdown-menu dropdown-with-icons">
                                    <a href="sections.html#headers" class="dropdown-item">
                                        <i class="material-icons">dns</i> Headers
                                    </a>
                                    <a href="sections.html#features" class="dropdown-item">
                                        <i class="material-icons">build</i> Features
                                    </a>
                                    <a href="sections.html#blogs" class="dropdown-item">
                                        <i class="material-icons">list</i> Blogs
                                    </a>
                                    <a href="sections.html#teams" class="dropdown-item">
                                        <i class="material-icons">people</i> Teams
                                    </a>
                                    <a href="sections.html#projects" class="dropdown-item">
                                        <i class="material-icons">assignment</i> Projects
                                    </a>
                                    <a href="sections.html#pricing" class="dropdown-item">
                                        <i class="material-icons">monetization_on</i> Pricing
                                    </a>
                                    <a href="sections.html#testimonials" class="dropdown-item">
                                        <i class="material-icons">chat</i> Testimonials
                                    </a>
                                    <a href="sections.html#contactus" class="dropdown-item">
                                        <i class="material-icons">call</i> Contacts
                                    </a>
                                </div>
                            </li>
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <i class="material-icons">view_carousel</i> Examples
                                </a>
                                <div class="dropdown-menu dropdown-with-icons">
                                    <a href="examples/about-us.html" class="dropdown-item">
                                        <i class="material-icons">account_balance</i> About Us
                                    </a>
                                    <a href="examples/blog-post.html" class="dropdown-item">
                                        <i class="material-icons">art_track</i> Blog Post
                                    </a>
                                    <a href="examples/blog-posts.html" class="dropdown-item">
                                        <i class="material-icons">view_quilt</i> Blog Posts
                                    </a>
                                    <a href="examples/contact-us.html" class="dropdown-item">
                                        <i class="material-icons">location_on</i> Contact Us
                                    </a>
                                    <a href="examples/landing-page.html" class="dropdown-item">
                                        <i class="material-icons">view_day</i> Landing Page
                                    </a>
                                    <a href="examples/login-page.html" class="dropdown-item">
                                        <i class="material-icons">fingerprint</i> Login Page
                                    </a>
                                    <a href="examples/pricing.html" class="dropdown-item">
                                        <i class="material-icons">attach_money</i> Pricing Page
                                    </a>
                                    <a href="examples/ecommerce.html" class="dropdown-item">
                                        <i class="material-icons">store</i> Ecommerce Page
                                    </a>
                                    <a href="examples/product-page.html" class="dropdown-item">
                                        <i class="material-icons">shopping_cart</i> Product Page
                                    </a>
                                    <a href="examples/profile-page.html" class="dropdown-item">
                                        <i class="material-icons">account_circle</i> Profile Page
                                    </a>
                                    <a href="examples/signup-page.html" class="dropdown-item">
                                        <i class="material-icons">person_add</i> Signup Page
                                    </a>

                                </div>
                            </li>
                            <li class="button-container nav-item iframe-extern">
                                <button class="btn btn-round btn-rose btn-block" data-toggle="modal" data-target="#signupModal">
                                    <i class="material-icons">assignment</i>
                                    SignUp
                                </button>
                            </li>
                            <li class="button-container nav-item iframe-extern">
                                <button class="btn btn-round" data-toggle="modal" data-target="#loginModal">
                                    <i class="material-icons">assignment</i>
                                    Login
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            @*This section is for Registration Modal*@

            <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" style="background:transparent">
                <div class="modal-dialog modal-signup" role="document">
                    <div class="modal-content">
                        <div class="card card-signup card-plain">
                            <div class="modal-header">
                                <h5 class="modal-title card-title">Register</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="material-icons">clear</i>
                                </button>
                            </div>

                            <!-- rotating card-->
                            <div class="modal-body">
                                <div class="card-container manual-flip">
                                    <div class="card">


                                        <!-- Rotating Card FRONT Section-->
                                        <div class="front">

                                            <!-- Wizard SignUp-->
                                            <div class="wizard-container">
                                                <div class="card card-wizard" data-color="rose" id="wizardProfile">
                                                    <form action="#" method="">
                                                        <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                                                        <div class="card-header text-center">
                                                            <h3 class="card-title">
                                                                Build Your Profile
                                                            </h3>
                                                            <h5 class="card-description">This information will let us know more about you.</h5>
                                                        </div>
                                                        <div class="wizard-navigation">
                                                            <ul class="nav nav-pills">
                                                                <li class="nav-item">
                                                                    <a class="nav-link active" href="#about" data-toggle="tab" role="tab">
                                                                        About
                                                                    </a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link" href="#account" data-toggle="tab" role="tab">
                                                                        Account
                                                                    </a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link" href="#address" data-toggle="tab" role="tab">
                                                                        Address
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="tab-content">
                                                                <div class="tab-pane active" id="about">
                                                                    <h5 class="info-text"> Let's start with the basic information (with validation)</h5>
                                                                    <div class="row justify-content-center">
                                                                        <div class="col-sm-4">
                                                                            <div class="picture-container">
                                                                                <div class="picture">
                                                                                    <img src="../../assets/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                                                                                    <input type="file" id="wizard-picture">
                                                                                </div>
                                                                                <h6 class="description">Choose Picture</h6>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="input-group form-control-lg">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">
                                                                                        <i class="material-icons">face</i>
                                                                                    </span>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="exampleInput1" class="bmd-label-floating">First Name (required)</label>
                                                                                    <input type="text" class="form-control" id="exampleInput1" name="firstname" required>
                                                                                </div>
                                                                            </div>
                                                                            <div class="input-group form-control-lg">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">
                                                                                        <i class="material-icons">record_voice_over</i>
                                                                                    </span>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="exampleInput11" class="bmd-label-floating">Second Name</label>
                                                                                    <input type="text" class="form-control" id="exampleInput11" name="lastname" required>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-10 mt-3">
                                                                            <div class="input-group form-control-lg">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">
                                                                                        <i class="material-icons">email</i>
                                                                                    </span>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="exampleInput1" class="bmd-label-floating">Email (required)</label>
                                                                                    <input type="email" class="form-control" id="exampleemalil" name="email" required>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="account">
                                                                    <h5 class="info-text"> What are you doing? (checkboxes) </h5>
                                                                    <div class="row justify-content-center">
                                                                        <div class="col-lg-10">
                                                                            <div class="row">
                                                                                <div class="col-sm-4">
                                                                                    <div class="choice" data-toggle="wizard-checkbox">
                                                                                        <input type="checkbox" name="jobb" value="Design">
                                                                                        <div class="icon">
                                                                                            <i class="fa fa-pencil"></i>
                                                                                        </div>
                                                                                        <h6>Design</h6>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-4">
                                                                                    <div class="choice" data-toggle="wizard-checkbox">
                                                                                        <input type="checkbox" name="jobb" value="Code">
                                                                                        <div class="icon">
                                                                                            <i class="fa fa-terminal"></i>
                                                                                        </div>
                                                                                        <h6>Code</h6>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-4">
                                                                                    <div class="choice" data-toggle="wizard-checkbox">
                                                                                        <input type="checkbox" name="jobb" value="Develop">
                                                                                        <div class="icon">
                                                                                            <i class="fa fa-laptop"></i>
                                                                                        </div>
                                                                                        <h6>Develop</h6>
                                                                                    </div>
                                                                                    <select class="selectpicker" data-style="btn btn-primary btn-round" title="Single Select" data-size="7">
                                                                                        <option disabled selected>Choose city</option>
                                                                                        <option value="2">Foobar</option>
                                                                                        <option value="3">Is great</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="address">
                                                                    <div class="row justify-content-center">
                                                                        <div class="col-sm-12">
                                                                            <h5 class="info-text"> Are you living in a nice area? </h5>
                                                                        </div>
                                                                        <div class="col-sm-7">
                                                                            <div class="form-group">
                                                                                <label>Street Name</label>
                                                                                <input type="text" class="form-control" name="streetName" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-3">
                                                                            <div class="form-group">
                                                                                <label>Street No.</label>
                                                                                <input type="number" class="form-control" name="streetNo" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-5">
                                                                            <div class="form-group">
                                                                                <label>City</label>
                                                                                <input type="text" class="form-control" name="city" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-5">
                                                                            <div class="form-group">
                                                                                <label>Country</label>
                                                                                <select class="selectpicker" data-size="7" data-style="select-with-transition" title="Single Select">
                                                                                    <option value="Afghanistan"> Afghanistan </option>
                                                                                    <option value="Albania"> Albania </option>
                                                                                    <option value="Algeria"> Algeria </option>
                                                                                    <option value="American Samoa"> American Samoa </option>
                                                                                    <option value="Andorra"> Andorra </option>
                                                                                    <option value="Angola"> Angola </option>
                                                                                    <option value="Anguilla"> Anguilla </option>
                                                                                    <option value="Antarctica"> Antarctica </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer">
                                                            <div class="mr-auto">
                                                                <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Previous">
                                                            </div>
                                                            <div class="ml-auto">
                                                                <input type="button" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Next">
                                                                <input type="button" class="btn btn-finish btn-fill btn-rose btn-wd" name="finish" value="Finish" style="display: none;">
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            @*<div class="wizard-container">
            <div class="card wizard-card" data-color="green" id="wizardProfile">
                <form action="" method="">


                    <div class="wizard-header">
                        <h3 class="wizard-title">
                            Build Your Profile
                        </h3>
                        <h5>This information will let us know more about you.</h5>
                    </div>
                    <div class="wizard-navigation">
                        <ul>
                            <li><a href="#account" data-toggle="tab">Account</a></li>
                            <li><a href="#about" data-toggle="tab">About</a></li>
                            <li><a href="#address" data-toggle="tab">Address</a></li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane" id="account">
                            <h4 class="info-text"> What are you doing? </h4>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="col-sm-4">
                                        <div class="choice" data-toggle="wizard-radio">
                                            <input type="radio" name="category" value="student">
                                            <div class="icon">
                                                <i class="fa fa-pencil"></i>
                                            </div>
                                            <h6>STUDENT</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="choice" data-toggle="wizard-radio">
                                            <input type="radio" name="category" value="trainer">
                                            <div class="icon">
                                                <i class="fa fa-laptop"></i>
                                            </div>
                                            <h6>TRAINER</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="choice" data-toggle="wizard-radio">
                                            <input type="radio" name="category" value="org">
                                            <div class="icon">
                                                <i class="fa fa-group"></i>
                                            </div>
                                            <h6>ORGANIZATION</h6>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="choice" data-toggle="wizard-radio">
                                            <input type="radio" name="college" value="org">
                                            <div class="icon">
                                                <i class="fa fa-group"></i>
                                            </div>
                                            <h6>COLLEGE</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="choice" data-toggle="wizard-radio">
                                            <input type="radio" name="institute" value="org">
                                            <div class="icon">
                                                <i class="fa fa-group"></i>
                                            </div>
                                            <h6>INSTITUTION</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="about">
                            <div class="row">
                                <h4 class="info-text"> Let's start with the basic information </h4>
                                <div class="col-sm-4 col-sm-offset-1">
                                    <div class="picture-container">
                                        <div class="picture">
                                            <img src="assets/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                                            <input type="file" id="wizard-picture">
                                        </div>
                                        <h6>Choose Picture</h6>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">face</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">First Name <small>(required)</small></label>
                                            <input name="firstname" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">record_voice_over</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Last Name <small>(required)</small></label>
                                            <input name="lastname" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email <small>(required)</small></label>
                                            <input name="email" type="email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="address">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text"> Location </h4>
                                </div>
                                <div class="col-sm-7 col-sm-offset-1">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Street Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Street Number</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-5 col-sm-offset-1">
                                    <div class="form-group label-floating">
                                        <label class="control-label">City</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Country</label>
                                        <select name="country" class="form-control">
                                            <option disabled="" selected=""></option>
                                            <option value="India"> India </option>
                                            <option value="...">...</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-footer">
                        <div class="pull-right">
                            <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
                            <input type='button' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Finish' />
                        </div>

                        <div class="pull-left">
                            <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>*@
                                            <!--/ Wizard signup-->

                                            <div class="footer">
                                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                                    <i class="fa fa-mail-forward"></i> Manual Rotation
                                                </button>
                                            </div>

                                        </div>
                                        <!-- end front panel -->



                                        <div class="back">
                                            <div class="header">
                                                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                            </div>
                                            <div class="content">
                                                <div class="main">
                                                    <h4 class="text-center">Job Description</h4>
                                                    <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                                                    <div class="stats-container">
                                                        <div class="stats">
                                                            <h4>235</h4>
                                                            <p>
                                                                Followers
                                                            </p>
                                                        </div>
                                                        <div class="stats">
                                                            <h4>114</h4>
                                                            <p>
                                                                Following
                                                            </p>
                                                        </div>
                                                        <div class="stats">
                                                            <h4>35</h4>
                                                            <p>
                                                                Projects
                                                            </p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="footer">
                                                <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                                    <i class="fa fa-reply"></i> Back
                                                </button>
                                                <div class="social-links text-center">
                                                    <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                                    <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                                    <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                                </div>
                                            </div>
                                        </div> <!-- end back panel -->
                                    </div> <!-- end card -->
                                </div>
                            </div>
                            <!-- /rotating card-->





                        </div>
                    </div>
                </div>
            </div>



            @*-------------- end of registration Modal*@



            <!-- this the section of LOGIN form-->


            <div class="modal fade" id="loginModal" tabindex="-1" role="">
                <div class="modal-dialog modal-login" role="document">
                    <div class="modal-content">
                        <div class="card card-signup card-plain card-container manual-flip">
                            <div class="modal-header">
                                <div class="card-header card-header-primary text-center">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                                    <h4 class="card-title">Log in</h4>
                                    @*<div class="social-line">
                    <a href="#pablo" class="btn btn-just-icon btn-link">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link">
                        <i class="fa fa-google-plus"></i>
                        <div class="ripple-container"></div>
                    </a>
                </div>*@

                                    <div class="social text-center">
                                        <button class="btn btn-just-icon btn-round btn-twitter">
                                            <i class="fa fa-twitter"></i>
                                        </button>
                                        <button class="btn btn-just-icon btn-round btn-google">
                                            <i class="fa fa-google"> </i>
                                        </button>
                                        <button class="btn btn-just-icon btn-round btn-facebook">
                                            <i class="fa fa-facebook"> </i>
                                        </button>

                                    </div>
                                </div>
                            </div>
                            <form class="form" action="~/User/Login" method="post">
                                <div class="modal-body">

                                    <p class="description text-center">Or Be Classical</p>
                                    <div class="card-body">

                                        @*<div class="form-group bmd-form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">face</i>
                                                </span>
                                                <input type="text" class="form-control" placeholder="First Name...">
                                            </div>
                                        </div>*@

                                        <div class="form-group bmd-form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">email</i>
                                                </span>
                                                <input type="text" name="email" class="form-control" placeholder="Email...">
                                            </div>
                                        </div>

                                        <div class="form-group bmd-form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">lock_outline</i>
                                                </span>
                                                <input type="password" name="password" placeholder="Password..." class="form-control">
                                            </div>
                                        </div>

                                        <a href="#" onclick="rotateCard(this)">Forgot password?</a>

                                    </div>

                                </div>
                                <div class="modal-footer justify-content-center">
                                    @*<a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">Get Started</a>*@
                                    <button class="btn btn-primary btn-link btn-wd btn-lg" type="submit">Get Started</button>

                                </div>
                                <p>@ViewBag.LoginErrorMessage</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <!-- LOGIN section END------->

            <div class="content">
                <div class="container-fluid">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <footer class="footer ">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Trainers Pool
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Licenses
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>, made with <i class="material-icons">favorite</i> by <a href="#" target="_blank">ElephantTree</a> for a better platform.
                    </div>
                </div>

            </footer>

        </div>
    </div>

    <div class="fixed-plugin">
        <div class="dropdown show-dropdown">
            <a href="#" data-toggle="dropdown">
                <i class="fa fa-cog fa-2x"> </i>
            </a>
            <ul class="dropdown-menu">
                <li class="header-title"> Sidebar Filters</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger active-color">
                        <div class="ml-auto mr-auto">
                            <span class="badge filter badge-purple" data-color="purple"></span>
                            <span class="badge filter badge-azure" data-color="azure"></span>
                            <span class="badge filter badge-green" data-color="green"></span>
                            <span class="badge filter badge-orange" data-color="orange"></span>
                            <span class="badge filter badge-danger" data-color="danger"></span>
                            <span class="badge filter badge-rose active" data-color="rose"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="header-title">Sidebar Background</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger background-color">
                        <div class="ml-auto mr-auto">
                            <span class="badge filter badge-white" data-color="white"></span>
                            <span class="badge filter badge-black active" data-color="black"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger">
                        <p>Sidebar Mini</p>
                        <label class="ml-auto">
                            <div class="togglebutton switch-sidebar-mini">
                                <label>
                                    <input type="checkbox">
                                    <span class="toggle"></span>
                                </label>
                            </div>
                        </label>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger">
                        <p>Sidebar Images</p>
                        <label class="switch-mini ml-auto">
                            <div class="togglebutton switch-sidebar-image">
                                <label>
                                    <input type="checkbox" checked="">
                                    <span class="toggle"></span>
                                </label>
                            </div>
                        </label>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="header-title">Images</li>
                <li class="active">
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="~/assets/img/sidebar-1.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="~/assets/img/sidebar-2.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="~/assets/img/sidebar-3.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="~/assets/img/sidebar-4.jpg" alt="" />
                    </a>
                </li>
                <li class="button-container">
                    <div>
                        <a href="http://www.creative-tim.com/product/material-dashboard-pro" target="_blank" class="btn btn-rose btn-block btn-fill">Buy now!</a>
                    </div>
                </li>
                <li class="button-container">
                    <div>
                        <a href="http://www.creative-tim.com/product/material-dashboard" target="_blank" class="btn btn-info btn-block">Get free demo!</a>
                    </div>
                </li>
                <li class="header-title" id="sharrreTitle">Thank you for 95 shares!</li>
                <li class="button-container">
                    <button id="twitter" class="btn btn-social btn-twitter btn-round sharrre"><i class="fa fa-twitter"></i> · 45</button>
                    <button id="facebook" class="btn btn-social btn-facebook btn-round sharrre"><i class="fa fa-facebook-square"></i> · 50</button>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>

<!--   Core JS Files   -->
<!-- required for rotation-->
<script src="~/Scripts/jquery-1.10.2.js"></script>

<script src="~/assets/js/core/jquery.min.js"></script>
<script src="~/assets/js/core/popper.min.js"></script>

<script src="~/assets/js/bootstrap-material-design.min.js"></script>

<script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

<!--  Google Maps Plugin  -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
<script src="~/assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="~/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="~/assets/js/plugins/nouislider.min.js"></script>

<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="~/assets/js/plugins/bootstrap-selectpicker.js"></script>
<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="~/assets/js/plugins/bootstrap-tagsinput.js"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="~/assets/js/plugins/jasny-bootstrap.min.js"></script>
<!-- Plugins for presentation and navigation  -->
<script src="~/assets/assets-for-demo/js/modernizr.js"></script>


<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="~/assets/js/material-dashboard790f.js?v=2.0.1"></script>

<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script src="../../../cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<!-- Library for adding dinamically elements -->
<script src="~/assets/js/plugins/arrive.min.js" type="text/javascript"></script>
<!-- Forms Validations Plugin -->
<script src="~/assets/js/plugins/jquery.validate.min.js"></script>
<!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
<script src="~/assets/js/plugins/chartist.min.js"></script>
<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src="~/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
<!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
<script src="~/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="~/assets/js/plugins/jquery-jvectormap.js"></script>
<!-- Sliders Plugin, full documentation here: https://refreshless.com/nouislider/ -->
<script src="~/assets/js/plugins/nouislider.min.js"></script>
<!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="~/assets/js/plugins/jquery.select-bootstrap.js"></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
<script src="~/assets/js/plugins/jquery.datatables.js"></script>
<!-- Sweet Alert 2 plugin, full documentation here: https://limonte.github.io/sweetalert2/ -->
<script src="~/assets/js/plugins/sweetalert2.js"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="~/assets/js/plugins/jasny-bootstrap.min.js"></script>
<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script src="~/assets/js/plugins/fullcalendar.min.js"></script>
<!-- demo init -->
<script src="~/assets/js/plugins/demo.js"></script>




















<script type="text/javascript">

    $(document).ready(function () {

        //init wizard

        demo.initMaterialWizard();

        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

        demo.initCharts();

    });

</script>


<!-- required for rotation-->
<script type="text/javascript">
    $().ready(function () {
        $('[rel="tooltip"]').tooltip();

    });

    function rotateCard(btn) {
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if ($card.hasClass('hover')) {
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    }
</script>



<!-- Sharrre libray -->
<script src="~/assets/assets-for-demo/js/jquery.sharrre.js">

</script>
<script>

    $(document).ready(function () {
        $('#twitter').sharrre({
            share: {
                twitter: true
            },
            enableHover: false,
            enableTracking: false,
            enableCounter: false,
            buttons: { twitter: { via: 'CreativeTim' } },
            click: function (api, options) {
                api.simulateClick();
                api.openPopup('twitter');
            },
            template: '<i class="fa fa-twitter"></i> Twitter',
            url: 'http://demos.creative-tim.com/material-kit-pro/presentation.html'
        });

        $('#facebook').sharrre({
            share: {
                facebook: true
            },
            enableHover: false,
            enableTracking: false,
            enableCounter: false,
            click: function (api, options) {
                api.simulateClick();
                api.openPopup('facebook');
            },
            template: '<i class="fa fa-facebook-square"></i> Facebook',
            url: 'http://demos.creative-tim.com/material-kit-pro/presentation.html'
        });

        $('#google').sharrre({
            share: {
                googlePlus: true
            },
            enableCounter: false,
            enableHover: false,
            enableTracking: true,
            click: function (api, options) {
                api.simulateClick();
                api.openPopup('googlePlus');
            },
            template: '<i class="fa fa-google-plus"></i> Google',
            url: 'http://demos.creative-tim.com/material-kit-pro/presentation.html'
        });
    });


    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-46172202-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    // Facebook Pixel Code Don't Delete
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        }; if (!f._fbq) f._fbq = n;
        n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
    }(window,
        document, 'script', '../../../connect.facebook.net/en_US/fbevents.js');

    try {
        fbq('init', '111649226022273');
        fbq('track', "PageView");

    } catch (err) {
        console.log('Facebook Track Error:', err);
    }

</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=111649226022273&amp;ev=PageView&amp;noscript=1" />
</noscript>


</html>
