﻿<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demos.creative-tim.com/material-dashboard-pro/examples/charts.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 29 Mar 2018 15:33:24 GMT -->
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/assets/img/apple-icon.png">
    <link rel="icon" href="~/assets/img/favicon.png">
    <title>
        Charts.js &#45; Material Dashboard by Creative Tim

    </title>

    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://www.creative-tim.com/product/material-dashboard-pro" />


    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />

    <link rel="stylesheet" href="~/assets/css/material-dashboard.min790f.css?v=2.0.1">


    <!-- Documentation extras -->
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/assets-for-demo/demo.css" rel="stylesheet" />
    <!-- iframe removal -->

    <script type="text/javascript">
                            if (document.readyState === 'complete') {
                                if (window.location != window.parent.location) {
                                  const elements = document.getElementsByClassName("iframe-extern");
                                  while (elemnts.lenght > 0) elements[0].remove();
                                    // $(".iframe-extern").remove();
                                }
                            };
    </script>


</head>
<body class="">
    <div class="main-panel">
        <nav class="navbar  bg-white   fixed-top  navbar-expand-lg " id="sectionsNav">
            <div class="container">
                <div class="navbar-wrapper">
                    <div class="navbar-minimize">
                        <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                            <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                            <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                        </button>
                    </div>

                </div>
                <div class="navbar-translate">
                    <a class="navbar-brand" href="index.html">Trainers Pool </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <i class="material-icons">apps</i> Tasks
                            </a>
                            <div class="dropdown-menu dropdown-with-icons">
                                <a href="index.html" class="dropdown-item">
                                    <i class="material-icons">layers</i> Home
                                </a>
                                <a href="docs/2.0/getting-started/introduction.html" class="dropdown-item">
                                    <i class="material-icons">content_paste</i> Login
                                </a>
                                <a href="docs/2.0/getting-started/introduction.html" class="dropdown-item">
                                    <i class="material-icons">content_paste</i> Register
                                </a>
                                <a href="docs/2.0/getting-started/introduction.html" class="dropdown-item">
                                    <i class="material-icons">content_paste</i> About
                                </a>
                                <a href="docs/2.0/getting-started/introduction.html" class="dropdown-item">
                                    <i class="material-icons">content_paste</i> Contact
                                </a>
                                <a href="docs/2.0/getting-started/introduction.html" class="dropdown-item">
                                    <i class="material-icons">content_paste</i> Administration
                                </a>
                            </div>
                        </li>


                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <i class="material-icons">view_day</i> Sections
                            </a>
                            <div class="dropdown-menu dropdown-with-icons">
                                <a href="sections.html#headers" class="dropdown-item">
                                    <i class="material-icons">dns</i> Headers
                                </a>
                                <a href="sections.html#features" class="dropdown-item">
                                    <i class="material-icons">build</i> Features
                                </a>
                                <a href="sections.html#blogs" class="dropdown-item">
                                    <i class="material-icons">list</i> Blogs
                                </a>
                                <a href="sections.html#teams" class="dropdown-item">
                                    <i class="material-icons">people</i> Teams
                                </a>
                                <a href="sections.html#projects" class="dropdown-item">
                                    <i class="material-icons">assignment</i> Projects
                                </a>
                                <a href="sections.html#pricing" class="dropdown-item">
                                    <i class="material-icons">monetization_on</i> Pricing
                                </a>
                                <a href="sections.html#testimonials" class="dropdown-item">
                                    <i class="material-icons">chat</i> Testimonials
                                </a>
                                <a href="sections.html#contactus" class="dropdown-item">
                                    <i class="material-icons">call</i> Contacts
                                </a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <i class="material-icons">view_carousel</i> Examples
                            </a>
                            <div class="dropdown-menu dropdown-with-icons">
                                <a href="examples/about-us.html" class="dropdown-item">
                                    <i class="material-icons">account_balance</i> About Us
                                </a>
                                <a href="examples/blog-post.html" class="dropdown-item">
                                    <i class="material-icons">art_track</i> Blog Post
                                </a>
                                <a href="examples/blog-posts.html" class="dropdown-item">
                                    <i class="material-icons">view_quilt</i> Blog Posts
                                </a>
                                <a href="examples/contact-us.html" class="dropdown-item">
                                    <i class="material-icons">location_on</i> Contact Us
                                </a>
                                <a href="examples/landing-page.html" class="dropdown-item">
                                    <i class="material-icons">view_day</i> Landing Page
                                </a>
                                <a href="examples/login-page.html" class="dropdown-item">
                                    <i class="material-icons">fingerprint</i> Login Page
                                </a>
                                <a href="examples/pricing.html" class="dropdown-item">
                                    <i class="material-icons">attach_money</i> Pricing Page
                                </a>
                                <a href="examples/ecommerce.html" class="dropdown-item">
                                    <i class="material-icons">store</i> Ecommerce Page
                                </a>
                                <a href="examples/product-page.html" class="dropdown-item">
                                    <i class="material-icons">shopping_cart</i> Product Page
                                </a>
                                <a href="examples/profile-page.html" class="dropdown-item">
                                    <i class="material-icons">account_circle</i> Profile Page
                                </a>
                                <a href="examples/signup-page.html" class="dropdown-item">
                                    <i class="material-icons">person_add</i> Signup Page
                                </a>
                            </div>
                        </li>
                        <li class="button-container nav-item iframe-extern">
                            <a href="http://www.creative-tim.com/buy/material-kit-pro?ref=presentation" target="_blank" class="btn  btn-rose   btn-round btn-block">
                                <i class="material-icons">shopping_cart</i>Sign Up
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>
@*testing*@

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Login", "Login", "User")</li>
    <li>@Html.ActionLink("Register", "AddorEdit", "User")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    <li>@Html.ActionLink("Administration", "Administration", "Admin")</li>
</ul>
@*testing ended*@
<!--   Core JS Files   -->
<script src="~/assets/js/core/jquery.min.js"></script>
<script src="~/assets/js/core/popper.min.js"></script>

<script src="~/assets/js/bootstrap-material-design.min.js"></script>

<script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

<!--  Google Maps Plugin  -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
<script src="~/assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="~/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="~/assets/js/plugins/nouislider.min.js"></script>

<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="~/assets/js/plugins/bootstrap-selectpicker.js"></script>
<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="~/assets/js/plugins/bootstrap-tagsinput.js"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="~/assets/js/plugins/jasny-bootstrap.min.js"></script>
<!-- Plugins for presentation and navigation  -->
<script src="~/assets/assets-for-demo/js/modernizr.js"></script>


<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="~/assets/js/material-dashboard790f.js?v=2.0.1"></script>

<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script src="../../../cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<!-- Library for adding dinamically elements -->
<script src="~/assets/js/plugins/arrive.min.js" type="text/javascript"></script>
<!-- Forms Validations Plugin -->
<script src="~/assets/js/plugins/jquery.validate.min.js"></script>
<!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
<script src="~/assets/js/plugins/chartist.min.js"></script>
<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src="~/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
<!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
<script src="~/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="~/assets/js/plugins/jquery-jvectormap.js"></script>
<!-- Sliders Plugin, full documentation here: https://refreshless.com/nouislider/ -->
<script src="~/assets/js/plugins/nouislider.min.js"></script>
<!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="~/assets/js/plugins/jquery.select-bootstrap.js"></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
<script src="~/assets/js/plugins/jquery.datatables.js"></script>
<!-- Sweet Alert 2 plugin, full documentation here: https://limonte.github.io/sweetalert2/ -->
<script src="~/assets/js/plugins/sweetalert2.js"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="~/assets/js/plugins/jasny-bootstrap.min.js"></script>
<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script src="~/assets/js/plugins/fullcalendar.min.js"></script>
<!-- demo init -->
<script src="~/assets/js/plugins/demo.js"></script>

















<script type="text/javascript">

$(document).ready(function(){

              //init wizard

              demo.initMaterialWizard();

              // Javascript method's body can be found in assets/js/demos.js
              demo.initDashboardPageCharts();

              demo.initCharts();

});

</script>





<!-- Sharrre libray -->
<script src="~/assets/assets-for-demo/js/jquery.sharrre.js">

</script>
<script>

$(document).ready(function(){
                $('#twitter').sharrre({
                  share: {
                    twitter: true
                  },
                  enableHover: false,
                  enableTracking: false,
                  enableCounter: false,
                  buttons: { twitter: {via: 'CreativeTim'}},
                  click: function(api, options){
                    api.simulateClick();
                    api.openPopup('twitter');
                  },
                  template: '<i class="fa fa-twitter"></i> Twitter',
                  url: 'http://demos.creative-tim.com/material-kit-pro/presentation.html'
                });

                $('#facebook').sharrre({
                  share: {
                    facebook: true
                  },
                  enableHover: false,
                  enableTracking: false,
                  enableCounter: false,
                  click: function(api, options){
                    api.simulateClick();
                    api.openPopup('facebook');
                  },
                  template: '<i class="fa fa-facebook-square"></i> Facebook',
                  url: 'http://demos.creative-tim.com/material-kit-pro/presentation.html'
                });

                $('#google').sharrre({
                  share: {
                    googlePlus: true
                  },
                  enableCounter: false,
                  enableHover: false,
                  enableTracking: true,
                  click: function(api, options){
                    api.simulateClick();
                    api.openPopup('googlePlus');
                  },
                  template: '<i class="fa fa-google-plus"></i> Google',
                  url: 'http://demos.creative-tim.com/material-kit-pro/presentation.html'
                });
});


var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-46172202-1']);
_gaq.push(['_trackPageview']);

(function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
})();

// Facebook Pixel Code Don't Delete
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','../../../connect.facebook.net/en_US/fbevents.js');

try{
                fbq('init', '111649226022273');
                fbq('track', "PageView");

}catch(err) {
                console.log('Facebook Track Error:', err);
}

</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=111649226022273&amp;ev=PageView&amp;noscript=1" />
</noscript>

<!-- Mirrored from demos.creative-tim.com/material-dashboard-pro/examples/charts.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 29 Mar 2018 15:33:24 GMT -->
</html>
