﻿@model RegistrationMVC.Models.userTable
@{
    ViewBag.Title = "EditCoordinator";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<body>
    <div class="card card-nav-tabs">
        <div class="card-header card-header-rose">
            <h4 class="text-center">Edit Coordinator</h4>
        </div>

        @{
            var item_coord = ViewBag.coordinator;
            var item_id = ViewBag.ids;
            var item_name = ViewBag.organizations;}

        <div class="card-body">
            <form action="~/Coordinator/SaveCoordinator" method="post" enctype="multipart/form-data">

                <div class="row justify-content-center">

                    <!-- 1st Column-->
                    <div class="col-sm-4 text-center">
                        <p>Co-ordinator Profile Image</p>

                        @if (item_coord.profilePic == null || item_coord.profilePic == "")
                        {
                    <!-- profile Picture-->
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail img-circle img-raised">

                            <img src="https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png" alt="...">

                            @*<img src="~/UploadedResume/UploadedImages/@item_user.profilePic" alt="...">*@


                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
                        <div>
                            <span class="btn btn-raised btn-round btn-default btn-file">
                                <span class="fileinput-new">Add Photo</span>
                                <span class="fileinput-exists">Change</span>

                                <input type="file" name="image" />
                                @*<input type="file" value="@item_user.profilePic" name="image" />*@


                            </span>
                            <br />
                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                        </div>
                    </div>
                    <!-- /profile Picture-->
                        }
                        else
                        {
                    <!-- profile Picture-->
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail img-circle img-raised">



                            <img src="~/UploadedResume/UploadedImages/@item_coord.profilePic" alt="...">


                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
                        <div>
                            <span class="btn btn-raised btn-round btn-default btn-file">
                                <span class="fileinput-new">Change Photo</span>
                                <span class="fileinput-exists">Change</span>
                                @*<span class="fileinput-new">Change</span>*@

                                <input type="file" name="image" />
                                @*<input type="file" value="@item_user.profilePic" name="image" />*@


                            </span>
                            <br />
                            <span class="btn btn-raised btn-round btn-default btn-file">
                                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                            </span>
                        </div>
                    </div>
                    <!-- /profile Picture-->

}
                        <hr />

                        <h6>Active State</h6>

                        @if (item_coord.isActive == true)
    {
                    <div class="togglebutton">
                        <label>
                            <span>Not Active</span><input type="checkbox" checked="checked" name="isactive">
                            <span class="toggle"></span>
                            Active
                        </label>
                    </div>
}
else
{
                    <div class="togglebutton">
                        <label>
                            <span>Not Active</span><input type="checkbox" name="isactive">
                            <span class="toggle"></span>
                            Active
                        </label>
                    </div>
}



                    </div>

                    <div class="col-md-7 col-sm-7">

                        <input value="@item_coord.userId" name="userId" hidden>

                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <h6>First Name<span class="icon-danger" style="color:red">*</span></h6>
                                <div class="input-group border-input">
                                    <input value="@item_coord.firstName" type="text" name="firstName" placeholder="Enter First Name.." class="form-control border-input">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h6>Last Name</h6>
                                <div class="input-group border-input">
                                    <input value="@item_coord.lastName" type="text" name="lastName" placeholder="Enter Last Name.." class="form-control border-input">
                                </div>
                            </div>

                        </div>
                        <br />
                        <div class="form-group">
                            <h6>Email<span class="icon-danger" style="color:red">*</span></h6>
                            <input value="@item_coord.email" type="text" name="email" class="form-control border-input" placeholder="enter the e-mail here..">
                        </div>
                        <br />
                        <div class="row price-row">
                            <div class="col-md-6">
                                <h6>Password<span class="icon-danger" style="color:red">*</span></h6>
                                <div class="input-group border-input">
                                    <input value="@item_coord.password" type="text" name="password" placeholder="enter password.." class="form-control border-input">

                                </div>

                            </div>
                            <div class="col-md-6">
                                <h6>Confirm Password</h6>
                                <div class="input-group border-input">
                                    <input type="text" name="confirm_pass" value="" placeholder="Re-enter password.." class="form-control border-input">

                                </div>
                            </div>
                        </div>

                        <!-- drop down for organization-->
                        <br />
                        <div class="col-md-7 col-sm-7">
                            <select name="orgName" class="selectpicker" data-style="btn select-with-transition" multiple title="Choose Organizations" data-size="7">
                                <option disabled> Multiple Options</option>
                                @foreach (var item in @ViewBag.allOrg)
    {
        foreach (var item1 in @ViewBag.selectedOrg)
        {
            if (@item1.orgId == @item.orgId)
            {
                            <option selected value=@item.orgId>@item.orgName</option>
}
}
                            @*<option value=@item.orgId>@item.orgName</option>*@


}

                                <!-- to display organizations not assigned to any coordinator-->
                                @foreach (var item2 in @ViewBag.notSelectedOrg)
    {
                            <option value=@item2.orgId>@item2.orgName</option>
}


                            </select>
                        </div>



                        <br />







                    </div>

                </div>
                <br />
                <br />

                <!--for buttons-->
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <button type="reset" class="btn btn-outline-info btn-block"><i class="material-icons">restore</i>  Clear</button>
                    </div>
                    @*<div class="col-md-4 col-sm-4">
                        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#viewmap"><i class="material-icons">view_day</i>  Mappings</button>
                    </div>*@
                    <div class="col-md-4 col-sm-4">
                        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#viewmap"><i class="material-icons">view_day</i>  Mappings</button>
                    </div>
                    <div class="col-md-4 col-sm-4">

                        <button type="submit" class="btn btn-rose btn-fill btn-block"><i class="material-icons">save</i>  SAVE</button>
                    </div>
                    @*<button class="btn btn-rose btn-fill" onclick=demo.showSwal('warning-message-and-cancel')>Try me!</button>*@
                </div>

                <!--/for buttons-->
            </form>
        </div>
    </div>


</body>

