﻿@model RegistrationMVC.Models.userTable
@{
    ViewBag.Title = "ListCoordinators";
    Layout = "~/Views/Shared/_Master.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()




    <div class="card card-nav-tabs">
        <div class="card-header card-header-rose">
            <h4 class="text-center">Co-ordinators</h4>

        </div>
        <div class="card-body">
            <div class="text-center">
                <a href="~/Coordinator/AddCoordinator" class="btn btn-fab btn-round btn-rose" rel="tooltip" data-placement="bottom" title="Add Co-ordinator">
                    <i class="material-icons">add</i>
                </a>
            </div>

            <hr />

            <br />

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        @*<div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>*@
                        <h4 class="card-title">Co-ordinators List</h4>

                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>

                                        <th style="font-weight:bold">Name</th>

                                        <th style="font-weight:bold">Email</th>
                                        <th style="font-weight:bold">Is Active</th>
                                  
                                        @*<th style="font-weight:bold">Created Date</th>
        <th style="font-weight:bold">Last Modified Date</th>*@

                                        <th class="text-right" style="font-weight:bold">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in @ViewBag.Coordinators)
                                    {
                                        <tr>
                                            
                                            <td>@item.firstName @item.lastName</td>
                                            
                                            <td>@item.email</td>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        @if (item.isActive)
                                                        {
                                                            <input class="form-check-input" type="checkbox" checked disabled>
                                                        }
                                                        else
                                                        {
                                                            <input class="form-check-input" type="checkbox" disabled>
                                                        }

                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                         

                                            @*<td>@item.createdDate</td>
                                                <td>@item.modifiedDate</td>*@

                                            <td class="td-actions text-right">

                                                @*<button type="button" onclick="EditStudentRecord(@item.userId)" rel="tooltip" data-placement="bottom" title="Edit" class="btn btn-success btn-round">
                                                    <i class="material-icons">edit</i>
                                                </button>*@
                                                <a href="~/Coordinator/EditCoordinator/@item.userId" class="btn btn-success btn-round" rel="tooltip" data-placement="bottom" title="Edit"><i class="material-icons">edit</i></a>

                                                <button type="button" onclick="DeleteStudentRecord(@item.userId)" rel="tooltip" data-placement="bottom" title="Delete" class="btn btn-danger btn-round">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

}



<!-- Delete Student Modal-->

<div class="modal fade" id="DeleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Delete Trainer</h4>
            </div>
            <form method="post" action="~/Admin/DeleteStudent">
                <div class="modal-body">
                    @Html.HiddenFor(model => model.userId, new { @id = "StudentId1" })

                    <div class="input-group border-input">

                        @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control", @id = "StudentName1" } })
                        @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })

                    </div>
                    <h4>Are You Sure? You Want To Delete This Student.</h4>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>


                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-trash"></i>Confirm
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>


<!-- /Delete Trainer Modal-->


<script>





    //Show The Popup Modal For Edit Batch Record

    function EditBatchRecord(BatchId) {

        //document.getElementById("mahesh").innerHTML = CourseId;

        $.ajax({
            type: "GET",
            url: "/Coordinator/ViewBatch/" + BatchId,
            success: function (data) {
                // window.location = "/User/ViewCourse/" + CourseId;
                var obj = JSON.parse(data);
                $("#BatId").val(obj.batchId);
                $("#BatName").val(obj.batchName);
                $("#BatchStart").val(obj.startCourse);
                $("#BatchEnd").val(obj.endCourse);
                $("#CrsIsActive").val(obj.isActive);

                $("#editbatch").modal();
                if (obj.isActive == true) {
                    $("#toggleoff").hide();
                    $("#toggleon").show();
                } else {
                    $("#toggleon").hide();
                    $("#toggleoff").show();
                }




            }
        })

    }


    //Show The Popup Modal For DeleteComfirmation
    function DeleteStudentRecord(UserId) {

        $.ajax({
            type: "GET",
            url: "/Admin/DeleteStudent/" + UserId,
            success: function (value) {
                // window.location = "/User/ViewCourse/" + CourseId;
                var obj1 = JSON.parse(value);
                $("#StudentId1").val(obj1.userId);
                $("#StudentName1").val(obj1.firstName);


                $("#DeleteStudentModal").modal();
            }
        })

    }

</script>