﻿@model RegistrationMVC.Models.BatchTable
@{
    ViewBag.Title = "ViewOrgBatch";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}


<div class="card card-nav-tabs">
    <div class="card-header card-header-rose">
        <h4 class="text-center">Batch Grid</h4>
        
    </div>
    <div class="card-body">
        <div class="text-center">
            <button type="button" class="btn btn-fab btn-round btn-rose" data-toggle="modal" data-target="#addbatch" rel="tooltip" data-placement="bottom" title="Add Batch">
                <i class="material-icons">add</i>
            </button>
        </div>

        <hr />


        <!--body-->

        <div class="row">

            @foreach (var item in @ViewBag.batch)
            {


                <div class="col-lg-3 col-md-6 col-sm-6">


                    <div class="card card-nav-tabs">
                        <div class="card-header card-header-success" @*data-header-animation="true"*@>
                            <h4 class="text-center"><i class="fa fa-group"></i> @item.batchName</h4>
                        </div>

                        <div class="card-body">

                            <span><i class="material-icons">schedule</i>Start:@item.startCourse</span>
                            <br />
                            <span><i class="material-icons">schedule</i>End:@item.endCourse</span>
                            <h4 class="card-title">
                                <a href="#pablo">----</a>
                            </h4>
                            <div class="togglebutton">
                                <label>
                                    <span>Not Active</span>
                                    @if (@item.isActive == true)
                                    {
                                        <input type="checkbox" checked="checked" disabled="disabled">
                                    }
                                    else
                                    {
                                        <input type="checkbox" disabled="disabled">
                                    }

                                    <span class="toggle"></span>
                                    Active
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="card-footer">
                            <div class="author">
                                <a href="#pablo">
                                    <img src="~/assets/img/faces/card-profile1-square.jpg" alt="..." class="avatar img-raised">
                                    <span>Trainer Name</span>
                                </a>
                            </div>
                            <div class="stats ml-auto">
                                @*<a href="#" onclick="EditBatchRecord(@item.batchId)" rel="tooltip" data-placement="bottom" title="Edit"><i class="material-icons">edit</i></a>
                                    <a href="#" onclick="DeleteBatchRecord(@item.batchId)" rel="tooltip" data-placement="bottom" title="Delete"><i class="material-icons">delete</i></a>*@

                                <button type="button" onclick="DeleteBatchRecord(@item.batchId)" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Delete">
                                    <i class="material-icons">delete</i>
                                </button>
                                <button type="button" onclick="EditBatchRecord(@item.batchId)" class="btn btn-info btn-link" rel="tooltip" data-placement="bottom" title="Edit">
                                    <i class="material-icons">edit</i>
                                </button>
                            </div>
                        </div>



                    </div>



                </div>

            }
        </div>




    </div>
</div>

<!-- Add Batch Modal-->


<form action="~/Coordinator/AddOrgBatch" method="post">
    <div class="form-horizontal">
        <div class="modal fade" id="addbatch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Batch for (Particular Organization)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <h6>Batch Name<span class="icon-danger" style="color:red">*</span></h6>
                        <div class="input-group border-input">
                            <input type="text" name="batchname" value="" placeholder="Enter Batch name.." class="form-control border-input">

                        </div>
                        <br />

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h6>Course Start Date <span class="icon-danger" style="color:red">*</span></h6>
                                @*<div class="input-group border-input">
                                        <input type="text" name="amount" value="" placeholder="enter amount in rupees.." class="form-control border-input">

                                    </div>*@
                                <div class="form-group">
                                    <input type="text" name="startdate" class="form-control datepicker" value="10/05/2016">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h6>Course End Date <span class="icon-danger" style="color:red">*</span></h6>

                                @*<div class="input-group border-input">
                                       <input type="text" name="amount" value="" placeholder="enter amount in rupees.." class="form-control border-input">
                                    </div>*@
                                <div class="form-group">
                                    <input type="text" name="enddate" class="form-control datepicker" value="10/04/2018">
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h6>Active State</h6>

                                <div class="togglebutton">
                                    <label>
                                        <span>Not Active</span><input type="checkbox" name="isactive" checked="checked">
                                        <span class="toggle"></span>
                                        Active
                                    </label>
                                </div>
                            </div>
                        </div>

                        <p>@ViewBag.DuplicateMessage</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-round"><i class="material-icons">add</i> Add Batch</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- /Add Batch Modal-->
<!-- Edit Batch Modal-->




<div class="modal fade" id="editbatch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Batch for (Particular Organization)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="~/Coordinator/SaveOrgBatch" method="post">

                <div class="modal-body">
                    @Html.HiddenFor(model => model.batchId, new { @id = "BatId" })
                    @Html.HiddenFor(model => model.orgId, new { @id = "BatOrgId" })

                    <h6>Batch Name<span class="icon-danger" style="color:red">*</span></h6>
                    <div class="input-group border-input">
                        @*<input type="text" name="batchname" value="" placeholder="Enter Batch name.." class="form-control border-input">*@

                        @Html.EditorFor(model => model.batchName, new { htmlAttributes = new { @class = "form-control", @id = "BatName" } })
                        @Html.ValidationMessageFor(model => model.batchName, "", new { @class = "text-danger" })

                    </div>
                    <br />

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <h6>Course Start Date <span class="icon-danger" style="color:red">*</span></h6>
                            @*<div class="input-group border-input">
                    <input type="text" name="amount" value="" placeholder="enter amount in rupees.." class="form-control border-input">

                </div>*@
                            <div class="form-group">
                                @*<input type="text" name="startdate" class="form-control datepicker" value="10/05/2016">*@

                                @Html.EditorFor(model => model.startCourse, new { htmlAttributes = new { @class = "form-control datepicker", @id = "BatchStart", @value = "10/05/2016" } })
                                @Html.ValidationMessageFor(model => model.startCourse, "", new { @class = "text-danger" })



                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <h6>Course End Date <span class="icon-danger" style="color:red">*</span></h6>

                            @*<div class="input-group border-input">
                   <input type="text" name="amount" value="" placeholder="enter amount in rupees.." class="form-control border-input">
                </div>*@
                            <div class="form-group">
                                @*<input type="text" name="enddate" class="form-control datepicker" value="10/04/2018">*@

                                @Html.EditorFor(model => model.endCourse, new { htmlAttributes = new { @class = "form-control datepicker", @id = "BatchEnd", @value = "10/05/2018" } })
                                @Html.ValidationMessageFor(model => model.endCourse, "", new { @class = "text-danger" })



                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <h6>Active State</h6>

                            <div class="togglebutton" id="toggleoff">
                                <label>
                                    <span>Not Active</span>

                                    <input type="checkbox" name="chk">

                                    <span class="toggle"></span>
                                    Active

                                </label>
                            </div>
                            <div class="togglebutton" id="toggleon">
                                <label>
                                    <span>Not Active</span>

                                    <input type="checkbox" checked="checked" name="chk">

                                    <span class="toggle"></span>
                                    Active

                                </label>
                            </div>
                        </div>
                    </div>

                    <p>@ViewBag.DuplicateMessage</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-round"><i class="material-icons">save</i> SAVE</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- /Edit Batch Modal-->
<!-- Delete Batch Modal-->

<div class="modal fade" id="DeleteBatchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Delete Course</h4>
            </div>
            <form method="post" action="~/Coordinator/DeleteBatch">
                <div class="modal-body">
                    @Html.HiddenFor(model => model.batchId, new { @id = "BatId1" })

                    <div class="input-group border-input">

                        @Html.EditorFor(model => model.batchName, new { htmlAttributes = new { @class = "form-control", @id = "BatName1" } })
                        @Html.ValidationMessageFor(model => model.batchName, "", new { @class = "text-danger" })

                    </div>
                    <h4>Are You Sure? You Want To Delete This Batch.</h4>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>


                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-trash"></i>Confirm
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>


<!-- /Delete Batch Modal-->







<script>





    //Show The Popup Modal For Edit Batch Record

    function EditBatchRecord(BatchId) {

        //document.getElementById("mahesh").innerHTML = CourseId;

        $.ajax({
            type: "GET",
            url: "/Coordinator/ViewOrgBatch/" + BatchId,
            success: function (data) {
                // window.location = "/User/ViewCourse/" + CourseId;
                var obj = JSON.parse(data);
                $("#BatId").val(obj.batchId);
                $("#BatName").val(obj.batchName);
                $("#BatchStart").val(obj.startCourse);
                $("#BatchEnd").val(obj.endCourse);
                $("#CrsIsActive").val(obj.isActive);
                $("#BatOrgId").val(obj.orgId);
                

                $("#editbatch").modal();
                if (obj.isActive == true) {
                    $("#toggleoff").hide();
                    $("#toggleon").show();
                } else {
                    $("#toggleon").hide();
                    $("#toggleoff").show();
                }




            }
        })

    }


    //Show The Popup Modal For DeleteComfirmation
    function DeleteBatchRecord(BatchId) {

        $.ajax({
            type: "GET",
            url: "/Coordinator/DeleteBatch/" + BatchId,
            success: function (value) {
                // window.location = "/User/ViewCourse/" + CourseId;
                var obj1 = JSON.parse(value);
                $("#BatId1").val(obj1.batchId);
                $("#BatName1").val(obj1.batchName);


                $("#DeleteBatchModal").modal();
            }
        })

    }

</script>