﻿@model RegistrationMVC.Models.userTable
@{
    ViewBag.Title = "StudentProfile";
    Layout = "~/Views/Shared/_StudentMaster.cshtml";
}


<body>

    <div class="card card-nav-tabs">
        <div class="card-header card-header-rose">
            <h4 class="text-center">My Profile</h4>
        </div>

        @{
            var item_stud = ViewBag.student; }

        <div class="card-body">
            <form action="~/Student/SaveStudent/@item_stud.userId" method="post" enctype="multipart/form-data">

                <div class="row justify-content-center">

                    <!-- 1st Column-->
                    <div class="col-sm-4 text-center">
                        <p>Student Profile Image</p>

                        @if (item_stud.profilePic == null || item_stud.profilePic == "")
    {
                    <!-- profile Picture-->
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail img-circle img-raised">

                            <img src="https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png" alt="...">

                            @*<img src="~/UploadedResume/UploadedImages/@item_user.profilePic" alt="...">*@


                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
                        <div>
                            <span class="btn btn-raised btn-round btn-default btn-file">
                                <span class="fileinput-new">Add Photo</span>
                                <span class="fileinput-exists">Change</span>

                                <input type="file" name="image" />
                                @*<input type="file" value="@item_user.profilePic" name="image" />*@


                            </span>
                            <br />
                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                        </div>
                    </div>
                    <!-- /profile Picture-->
}
else
{
                    <!-- profile Picture-->
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail img-circle img-raised">



                            <img src="~/UploadedResume/UploadedImages/@item_stud.profilePic" alt="...">


                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
                        <div>
                            <span class="btn btn-raised btn-round btn-default btn-file">
                                <span class="fileinput-new">Change Photo</span>
                                <span class="fileinput-exists">Change</span>
                                @*<span class="fileinput-new">Change</span>*@

                                <input type="file" name="image" />
                                @*<input type="file" value="@item_user.profilePic" name="image" />*@


                            </span>
                            <br />
                            <span class="btn btn-raised btn-round btn-default btn-file">
                                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                            </span>
                        </div>
                    </div>
                    <!-- /profile Picture-->

}
                        <hr />
                        <div class="togglebutton" hidden>
                            <label>
                                <span>Not Active</span><input type="checkbox" name="isactive" checked="checked">
                                <span class="toggle"></span>
                                Active
                            </label>
                        </div>




                    </div>

                    <div class="col-md-7 col-sm-7">

                        <input value="@item_stud.userId" name="userId" hidden>
                        

                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <h6>First Name<span class="icon-danger" style="color:red">*</span></h6>
                                <div class="input-group border-input">
                                    <input value="@item_stud.firstName" type="text" name="firstName" placeholder="Enter First Name.." class="form-control border-input">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h6>Last Name</h6>
                                <div class="input-group border-input">
                                    <input value="@item_stud.lastName" type="text" name="lastName" placeholder="Enter Last Name.." class="form-control border-input">
                                </div>
                            </div>

                        </div>
                        <br />
                        <div class="form-group">
                            <h6>Email<span class="icon-danger" style="color:red">*</span></h6>
                            <input value="@item_stud.email" type="text" name="email" class="form-control border-input" placeholder="enter the e-mail here..">
                        </div>
                        <br />
                        <div class="row price-row">
                            <div class="col-md-6">
                                <h6>Password<span class="icon-danger" style="color:red">*</span></h6>
                                <div class="input-group border-input">
                                    <input value="@item_stud.password" type="text" name="password" placeholder="enter password.." class="form-control border-input">

                                </div>

                            </div>
                            <div class="col-md-6">
                                <h6>Confirm Password</h6>
                                <div class="input-group border-input">
                                    <input type="text" name="confirm_pass" value="" placeholder="Re-enter password.." class="form-control border-input">

                                </div>
                            </div>
                        </div>

                        <br />
                        
                        <div class="row">
                            <div class="col-md-6">
                                <h6>Mobile<span class="icon-danger" style="color:red">*</span></h6>
                                <div class="input-group border-input">
                                    <input type="text" name="mobile_no" placeholder="enter mobile number.." class="form-control border-input">

                                </div>

                            </div>
                            <div class="col-md-6">
                                <h6>Phone</h6>
                                <div class="input-group border-input">
                                    <input type="text" name="phone_no" placeholder="enter phone number.." class="form-control border-input">

                                </div>
                            </div>
                        </div>




                    </div>

                </div>
                <br />
                <br />

                <!--for buttons-->
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <button type="reset" class="btn btn-outline-info btn-block"><i class="material-icons">restore</i>  Clear</button>
                    </div>
                    @*<div class="col-md-4 col-sm-4">
                            <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#viewmap"><i class="material-icons">view_day</i>  Mappings</button>
                        </div>*@
                    <div class="col-md-4 col-sm-4">
                        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#viewmap"><i class="material-icons">view_day</i>  Mappings</button>
                    </div>
                    <div class="col-md-4 col-sm-4">

                        <button type="submit" class="btn btn-rose btn-fill btn-block"><i class="material-icons">save</i>  SAVE</button>
                    </div>
                    @*<button class="btn btn-rose btn-fill" onclick=demo.showSwal('warning-message-and-cancel')>Try me!</button>*@
                </div>

                <!--/for buttons-->
            </form>
        </div>
    </div>


</body>

