﻿@model RegistrationMVC.Models.OrgTable
@{
    ViewBag.Title = "AddOrg";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<head>
    <script>



        showSwal: function(type) {
            if (type == 'basic') {
                swal({
                    title: "Here's a message!",
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success"
                }).catch(swal.noop)

            } else if (type == 'title-and-text') {
                swal({
                    title: "Here's a message!",
                    text: "It's pretty, isn't it?",
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-info"
                }).catch(swal.noop)

            } else if (type == 'success-message') {
                swal({
                    title: "Good job!",
                    text: "You clicked the button!",
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    type: "success"
                }).catch(swal.noop)

            } else if (type == 'warning-message-and-confirmation') {
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes, delete it!',
                    buttonsStyling: false
                }).then(function () {
                    swal({
                        title: 'Deleted!',
                        text: 'Your file has been deleted.',
                        type: 'success',
                        confirmButtonClass: "btn btn-success",
                        buttonsStyling: false
                    })
                }).catch(swal.noop)
            } else if (type == 'warning-message-and-cancel') {
                swal({
                    title: 'Are you sure?',
                    text: 'You will not be able to recover this imaginary file!',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, keep it',
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: "btn btn-danger",
                    buttonsStyling: false
                }).then(function () {
                    swal({
                        title: 'Deleted!',
                        text: 'Your imaginary file has been deleted.',
                        type: 'success',
                        confirmButtonClass: "btn btn-success",
                        buttonsStyling: false
                    }).catch(swal.noop)
                }, function (dismiss) {
                    // dismiss can be 'overlay', 'cancel', 'close', 'esc', 'timer'
                    if (dismiss === 'cancel') {
                        swal({
                            title: 'Cancelled',
                            text: 'Your imaginary file is safe :)',
                            type: 'error',
                            confirmButtonClass: "btn btn-info",
                            buttonsStyling: false
                        }).catch(swal.noop)
                    }
                })

            } else if (type == 'custom-html') {
                swal({
                    title: 'HTML example',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    html: 'You can use <b>bold text</b>, ' +
                    '<a href="http://github.com">links</a> ' +
                    'and other HTML tags'
                }).catch(swal.noop)

            } else if (type == 'auto-close') {
                swal({
                    title: "Auto close alert!",
                    text: "I will close in 2 seconds.",
                    timer: 2000,
                    showConfirmButton: false
                }).catch(swal.noop)
            } else if (type == 'input-field') {
                swal({
                    title: 'Input something',
                    html: '<div class="form-group">' +
                    '<input id="input-field" type="text" class="form-control" />' +
                    '</div>',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false
                }).then(function (result) {
                    swal({
                        type: 'success',
                        html: 'You entered: <strong>' +
                        $('#input-field').val() +
                        '</strong>',
                        confirmButtonClass: 'btn btn-success',
                        buttonsStyling: false

                    })
                }).catch(swal.noop)
            }
        }

    </script>
</head>


    <body>
        <div class="card card-nav-tabs">
            <div class="card-header card-header-rose">
                <h4 class="text-center">Create Organization</h4>
            </div>
            <div class="card-body">
                <form action="~/Admin/AddOrg" method="post" enctype="multipart/form-data">

                    <div class="row justify-content-center">

                        <!-- 1st Column-->
                        <div class="col-sm-4 text-center">
                            <p>Organization Logo/Image</p>

                            <!-- profile Picture-->
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail img-circle img-raised">
                                    <img src="https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png" alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
                                <div>
                                    <span class="btn btn-raised btn-round btn-default btn-file">
                                        <span class="fileinput-new">Add Photo</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="image" />
                                    </span>
                                    <br />
                                    <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                </div>
                            </div>
                            <!-- /profile Picture-->
                            <hr />

                            <h6>Active State</h6>

                            <div class="togglebutton">
                                <label>
                                    <span>Not Active</span><input type="checkbox" name="isactive" checked="checked">
                                    <span class="toggle"></span>
                                    Active
                                </label>
                            </div>



                        </div>

                        <div class="col-md-7 col-sm-7">

                            <div class="row">
                                <div class="col-md-7 col-sm-7 col-lg-7">
                                    <div class="form-group">

                                        <select class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Single Select" required>
                                            <option disabled selected>-- Select Category --</option>
                                            @foreach (var item in @ViewBag.cat)
                    {
                        <option value=@item.catId>@item.name</option>
}



                                        </select>
                                    </div>
                                </div>

                            </div>
                            
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <div class="form-group">
                                        <h6>Organization Name<span class="icon-danger" style="color:red">*</span></h6>
                                        <input type="text" name="orgname" class="form-control border-input" placeholder="enter organization name here..">
                                    </div>
                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Person First Name<span class="icon-danger" style="color:red">*</span></h6>
                                    <div class="input-group border-input">
                                        <input type="text" name="first_name" placeholder="Enter First Name.." class="form-control border-input">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <h6>Last Name</h6>
                                    <div class="input-group border-input">
                                        <input type="text" name="last_name" placeholder="Enter Last Name.." class="form-control border-input">
                                    </div>
                                </div>

                            </div>
                            <br />
                            <div class="form-group">
                                <h6>Email<span class="icon-danger" style="color:red">*</span></h6>
                                <input type="text" name="email" class="form-control border-input" placeholder="enter the e-mail here..">
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Password<span class="icon-danger" style="color:red">*</span></h6>
                                    <div class="input-group border-input">
                                        <input type="text" name="pass" placeholder="enter password.." class="form-control border-input">

                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <h6>Confirm Password</h6>
                                    <div class="input-group border-input">
                                        <input type="text" name="confirm_pass" placeholder="Re-enter password.." class="form-control border-input">

                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Mobile<span class="icon-danger" style="color:red">*</span></h6>
                                    <div class="input-group border-input">
                                        <input type="text" name="mobile_no" placeholder="enter mobile number.." class="form-control border-input">

                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <h6>Phone</h6>
                                    <div class="input-group border-input">
                                        <input type="text" name="phone_no" placeholder="enter phone number.." class="form-control border-input">

                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Amount <span class="icon-danger" style="color:red">*</span></h6>
                                    <div class="input-group border-input">
                                        <input type="text" name="amount" placeholder="enter amount in rupees.." class="form-control border-input">
                                        <span class="input-group-addon"><i class="fa fa-rupee"></i></span>
                                    </div>

                                </div>
                            </div>


                        </div>

                    </div>
                    <br />
                    <br />

                    <!--for buttons-->
                    <div class="row buttons-row justify-content-end">
                        <div class="col-md-4 col-sm-4">
                            <button class="btn btn-outline-info btn-block"><i class="material-icons">restore</i>  Clear</button>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <button class="btn btn-info btn-block" data-toggle="modal" data-target="#viewmap"><i class="material-icons">view_day</i>  Mappings</button>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <button type="submit" class="btn btn-rose btn-fill btn-block" @*onclick="showSwal('warning-message-and-cancel')"*@><i class="material-icons">save</i>  SAVE</button>
                        </div>
                        @*<button class="btn btn-rose btn-fill" onclick=demo.showSwal('warning-message-and-cancel')>Try me!</button>*@
                    </div>

                    <!--/for buttons-->
                </form>
            </div>
        </div>



    </body>
