﻿@model RegistrationMVC.Models.CourseTable
@{
    ViewBag.Title = "AdminViewCourse";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}


<div class="card card-nav-tabs">
    <div class="card-header card-header-rose">
        <h4 class="text-center">Course Grid</h4>


    </div>
    <div class="card-body">
        

        <hr />


        <!--body-->

        <div class="row">

            @foreach (var item in @ViewBag.crs)
            {


                <div class="col-lg-3 col-md-6 col-sm-6">


                    <div class="card card-nav-tabs">
                        <div class="card-header card-header-info" @*data-header-animation="true"*@>
                            <h4 class="text-center"><i class="fa fa-laptop"></i> @item.CourseName</h4>
                        </div>

                        <div class="card-body">

                            <h4>Amount: <span class="font-weight-bold"><i class="fa fa-rupee"> @item.amount</i></span></h4>
                            <label>Duration: <span>@item.duration</span></label>
                            @*<h6>Active State</h6>*@
                            <br />


                            <div class="togglebutton" id="view_check">
                                <label>
                                    <span>Not Active</span>
                                    @if (@item.isActive == true)
                                    {
                                        <input type="checkbox" checked="checked" disabled="disabled">
                                    }
                                    else
                                    {
                                        <input type="checkbox" disabled="disabled">
                                    }

                                    <span class="toggle"></span>
                                    Active
                                </label>
                            </div>

                        </div>
                        <hr />
                        <div class="card-footer">


                            @*<div class="price">
            <h4>$1.119/night</h4>
        </div>
        <div class="stats">
            <p class="card-category"><i class="material-icons">place</i> London, UK</p>
        </div>*@


                            @* <div class="stats">
        <i class="material-icons">access_time</i> 2 days ago

                            <button type="button" onclick="DeleteCourseRecord(@item.courseId)" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Delete Course">
            <i class="material-icons">delete</i>
        </button>
        <button type="button" onclick="EditCourseRecord(@item.courseId)" class="btn btn-info btn-link" rel="tooltip" data-placement="bottom" title="Edit Course" @*data-toggle="modal" data-target="#editcourse">
            <i class="material-icons">edit</i>
        </button>


                        </div>*@




                        </div>
                    </div>



                </div>

            }

        </div>




    </div>
</div>



