﻿
@model IEnumerable<RegistrationMVC.Models.RegTable>

@{
    ViewBag.Title = "List in Admin Controller";
    Layout = "~/Views/Shared/_Master.cshtml";
}




<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="material-datatables">

    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">




        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.fname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailConfirmed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isAdmin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.createdDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.modifiedDate)
                </th>
                <th class="disabled-sorting text-right">Actions</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>@Html.DisplayNameFor(model => model.fname)</th>
                <th>@Html.DisplayNameFor(model => model.lname)</th>
                <th>@Html.DisplayNameFor(model => model.password)</th>
                <th>@Html.DisplayNameFor(model => model.email)</th>
                <th>@Html.DisplayNameFor(model => model.EmailConfirmed)</th>
                <th>@Html.DisplayNameFor(model => model.isAdmin)</th>
                <th>@Html.DisplayNameFor(model => model.createdDate)</th>
                <th>@Html.DisplayNameFor(model => model.modifiedDate)</th>
                <th class="text-right">Actions</th>
            </tr>
        </tfoot>


        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailConfirmed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isAdmin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createdDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.modifiedDate)
                    </td>
                    <td class="td-actions text-right">
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-warning" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })|
                        @*<a href="@Html.ActionLink("Edit", "Edit", new { id = item.id })" class="btn btn-info btn-round">
                                <i class="material-icons">edit</i>
                            </a>
                            <a href="@Html.ActionLink("Details", "Details", new { id = item.id })" class="btn btn-primary">
                                <i class="material-icons">person</i>
                            </a>
                            <a href="@Html.ActionLink("Delete", "Delete", new { id = item.id })" class="btn btn-primary">
                                <i class="material-icons">close</i>
                            </a>*@
                    </td>
                    @*<td class="td-actions text-right">
                            <button type="button" rel="tooltip" class="btn btn-info btn-round">
                                <i class="material-icons">person</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-success btn-round">
                                <i class="material-icons">edit</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-danger btn-round">
                                <i class="material-icons">close</i>
                            </button>
                        </td>*@

                </tr>
            }

        </tbody>

    </table>


</div>


<!--   Core JS Files   -->
<script src="~/assets/js/core/jquery.min.js"></script>
<script src="~/assets/js/core/popper.min.js"></script>


<script src="~/assets/js/bootstrap-material-design.min.js"></script>


<script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
<script src="~/assets/js/plugins/jquery.datatables.js"></script>