﻿@model RegistrationMVC.Models.Category

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Master.cshtml";
}

@*<h2>Category</h2>*@
<h3>@ViewBag.DuplicateMessage</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()




    <div class="card card-nav-tabs">
        <div class="card-header card-header-rose">
            <h4 class="text-center">CATEGORY</h4>

        </div>
        <div class="card-body">
            <div class="text-center">
                <button type="button" class="btn btn-fab btn-round btn-rose" data-toggle="modal" data-target="#addcategory" rel="tooltip" data-placement="bottom" title="Add Category">
                    <i class="material-icons">add</i>
                </button>@*<h4>Add Course</h4>*@
            </div>

            <hr />

            <br />

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Category List</h4>

                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th style="font-weight:bold">Category Name</th>
                                        <th style="font-weight:bold">IsActive</th>
                                        <th style="font-weight:bold">Created Date</th>
                                        <th style="font-weight:bold">Last Modified Date</th>
                                        @*<th class="text-right">Salary</th>*@
                                        <th class="text-right" style="font-weight:bold">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in @ViewBag.category)
                                    {
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td>@item.name</td>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        @if (item.isActive)
    {
                                                    <input class="form-check-input" type="checkbox" checked disabled>
}
else
{
                                                    <input class="form-check-input" type="checkbox" disabled>
}

                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>@item.createdDate</td>
                                            <td>@item.modifiedDate</td>

                                            <td class="td-actions text-right">

                                                <button type="button" onclick="EditCategoryRecord(@item.catId)" rel="tooltip" data-placement="bottom" title="Edit" class="btn btn-success btn-round">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" onclick="DeleteCategoryRecord(@item.catId)" rel="tooltip" data-placement="bottom" title="Delete" class="btn btn-danger btn-round">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-4 col-md-6">
                 <div class="card">
                     <div class="card-body card-header-info">
                         <h6 class="card-category text-danger">
                             <i class="material-icons">trending_up</i> Trending
                         </h6>
                         <h4 class="card-title">
                             <a href="#pablo">To Grow Your Business Start Focusing on Your Employees</a>
                         </h4>
                     </div>
                     <div class="card-footer ">
                         <div class="author">
                             <a href="#pablo">
                                 <img src="assets/img/faces/christian.jpg" alt="..." class="avatar img-raised">
                                 <span>Lord Alex</span>
                             </a>
                         </div>
                         <div class="stats ml-auto">
                             <i class="material-icons">favorite</i> 342 &#xB7;
                             <i class="material-icons">chat_bubble</i> 45
                         </div>
                     </div>
                 </div>
                </div>*@


        </div>
    </div>

}




<!-- Add Category Modal-->

<form action="~/Admin/AddCategory" method="post">
    <div class="form-horizontal">
        <div class="modal fade" id="addcategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">ADD CATEGORY</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <h6>Category Name<span class="icon-danger" style="color:red">*</span></h6>
                        <div class="input-group border-input">
                            <input type="text" name="catname" value="" placeholder="Enter Category name.." class="form-control border-input">

                        </div>
                        <br />



                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h6>Active State</h6>

                                <div class="togglebutton">
                                    <label>
                                        <span>Not Active</span><input type="checkbox" name="isactive" checked="checked">
                                        <span class="toggle"></span>
                                        Active
                                    </label>
                                </div>
                            </div>
                        </div>

                        <p>@ViewBag.DuplicateMessage</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-round"><i class="material-icons">add</i> Add Category</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- /Add Category Modal-->



<!-- Edit Category Modal-->

<form action="~/Admin/SaveCategory" method="post">
    <div class="form-horizontal">
        <div class="modal fade" id="editcategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">EDIT CATEGORY</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @Html.HiddenFor(model => model.catId, new { @id = "CatId" })

                        <h6>Category Name<span class="icon-danger" style="color:red">*</span></h6>
                        <div class="input-group border-input">

                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @id = "CatName" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })


                            @Html.EditorFor(model => model.createdDate, new { htmlAttributes = new { @class = "form-control", @id = "CatCreate" } })
                        </div>
                        <br />



                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h6>Active State</h6>

                                <div class="togglebutton" id="toggleoff">
                                    <label>
                                        <span>Not Active</span>

                                        <input type="checkbox" name="chk">

                                        <span class="toggle"></span>
                                        Active

                                    </label>
                                </div>
                                <div class="togglebutton" id="toggleon">
                                    <label>
                                        <span>Not Active</span>

                                        <input type="checkbox" checked="checked" name="chk">

                                        <span class="toggle"></span>
                                        Active

                                    </label>
                                </div>
                            </div>
                        </div>

                        <p>@ViewBag.DuplicateMessage</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-round"><i class="material-icons">save</i> SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- /Edit Category Modal-->
<!-- Delete Category Modal-->

<div class="modal fade" id="DeleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Delete Course</h4>
            </div>
            <form method="post" action="~/Admin/DeleteCategory">
                <div class="modal-body">
                    @Html.HiddenFor(model => model.catId, new { @id = "CatId1" })

                    <div class="input-group border-input">

                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @id = "CatName1" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })

                    </div>
                    <h4>Are You Sure? You Want To Delete This Category.</h4>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>


                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-trash"></i>Confirm
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>


<!-- /Delete Category Modal-->



<script>





    //Show The Popup Modal For Edit Category Record

    function EditCategoryRecord(CategoryId) {

        //document.getElementById("mahesh").innerHTML = CourseId;

        $.ajax({
            type: "GET",
            url: "/Admin/ViewCategory/" + CategoryId,
            success: function (data) {
                // window.location = "/User/ViewCourse/" + CourseId;
                var obj = JSON.parse(data);
                $("#CatId").val(obj.catId);
                $("#CatName").val(obj.name);
                $("#CatCreate").val(obj.createdDate);
              


                $("#editcategory").modal();
                if (obj.isActive == true) {
                    $("#toggleoff").hide();
                    $("#toggleon").show();
                } else {
                    $("#toggleon").hide();
                    $("#toggleoff").show();
                }




            }
        })

    }


    //Show The Popup Modal For DeleteComfirmation
    function DeleteCategoryRecord(CategoryId) {

        $.ajax({
            type: "GET",
            url: "/Admin/DeleteCategory/" + CategoryId,
            success: function (value) {
                // window.location = "/User/ViewCourse/" + CourseId;
                var obj1 = JSON.parse(value);
                $("#CatId1").val(obj1.catId);
                $("#CatName1").val(obj1.name);


                $("#DeleteCategoryModal").modal();
            }
        })

    }

</script>