﻿@model RegistrationMVC.Models.OrgTable
@{
    ViewBag.Title = "ViewOrg";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<style>

    .card-profile .card-avatar {
        max-width: 100px;
        max-height: 100px;
    }

</style>
<div class="card card-nav-tabs">
    <div class="card-header card-header-rose">
        <h4 class="text-center">Organizations List</h4>

    </div>
    <div class="card-body">
        <div class="text-center">
            @*<button type="button" class="btn btn-fab btn-round btn-rose" rel="tooltip" data-placement="bottom" title="Add Organization">
                    <i class="material-icons">add</i>
                </button>*@
            <a href="~/Admin/AddOrg" class="btn btn-fab btn-round btn-rose" rel="tooltip" data-placement="bottom" title="Add Organization">
                <i class="material-icons">add</i>
            </a>
        </div>
        <hr />
        <!--  organization card -->
        @foreach (var item in @ViewBag.org)
        {
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-2 col-lg-2">
                                        <div class="card-avatar">
                                            <a href="#pablo">
                                                @foreach (var item2 in @ViewBag.OrgUserTable)
                                                {
                                                    if (@item.orgId == @item2.orgId)
                                                    {
                                                        if (@item2.profilePic == null)
                                                        {
                                            <img class="img" src="https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png" style="width:100px;height:100px">
                                                        }
                                                        else
                                                        {
                                                            <img class="img" src="~/UploadedResume/UploadedImages/@item2.profilePic" style="width:100px;height:100px"/>
                                                        }
                                            @*<img class="img" src="~/UploadedResume/UploadedImages/@item2.profilePic">*@

                                                    }
                                                  }
                                                @*<img class="img" src="~/assets/img/faces/card-profile1-square.jpg">*@
                                            </a>



                                                <div class="ripple-container"></div>
                                            </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h4 class="card-title" style="text-decoration:underline">Organization Name (@item.orgName)</h4>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-5 col-lg-5">
                                                <h4>Person Name : @item.personName</h4>
                                                @*<h6>Skill chosen For:</h6>
                                                    <input type="text" value="C,C++" class="tagsinput form-control" data-role="tagsinput" data-color="rose" disabled>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" onclick="DetailsOrgRecord(@item.orgId)" rel="tooltip" data-placement="bottom" title="Details" class="btn btn-info btn-round">
                                            <i class="material-icons">details</i>
                                        </button>
                                        @*<button type="button" onclick="EditOrgRecord(@item.orgId)" rel="tooltip" data-placement="bottom" title="Edit" class="btn btn-success btn-round">
                                            <i class="material-icons">edit</i>
                                        </button>*@
                                        <a href="~/Admin/EditOrg/@item.orgId" class="btn btn-success btn-round" rel="tooltip" data-placement="bottom" title="Edit"><i class="material-icons">edit</i></a>

                                        <!-- delete button-->

                                        @*<button type="button" onclick="DeleteOrgRecord(@item.orgId)" rel="tooltip" data-placement="bottom" title="Delete" class="btn btn-danger btn-round">
                                            <i class="material-icons">close</i>
                                        </button>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr />
        }

    </div>
</div>



<!-- Delete Organization Modal-->

<div class="modal fade" id="DeleteOrgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Delete Course</h4>
            </div>
            <form method="post" action="~/Admin/DeleteOrg">
                <div class="modal-body">
                    @Html.HiddenFor(model => model.orgId, new { @id = "OrgId1" })

                    <div class="input-group border-input">

                        @Html.EditorFor(model => model.orgName, new { htmlAttributes = new { @class = "form-control", @id = "OrgName1" } })
                        @Html.ValidationMessageFor(model => model.orgName, "", new { @class = "text-danger" })

                    </div>
                    <h4>Are You Sure? You Want To Delete This Organization.</h4>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal" id="r">Cancel</a>


                    <button type="submit" class="btn btn-primary">
                        @*<i class="fa fa-trash"></i>*@REMOVE
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>


<!-- /Delete Organization Modal-->




<script>

  

    //Show The Popup Modal For DeleteComfirmation
    function DeleteOrgRecord(organizationId) {

        $.ajax({
            type: "GET",
            url: "/Admin/DeleteOrg/" + organizationId,
            success: function (value) {
                // window.location = "/User/ViewCourse/" + CourseId;
                var obj1 = JSON.parse(value);
                $("#OrgId1").val(obj1.orgId);
                $("#OrgName1").val(obj1.orgName);


                $("#DeleteOrgModal").modal();
            }
        })

    }

</script>