﻿@model RegistrationMVC.Models.RegTable
@{
    ViewBag.Title = "Dashboard";
    if (Session["id"] == null)
    {
        Response.Redirect("~/User/Login");
        
    }

}

<h2>Dashboard</h2>
<h3> @ViewBag.message</h3>
<h3>First Name: @Session["fname"].ToString().ToUpper()</h3>
<a href="@Url.Action("Logout","User")">Logout</a>   @*// (Action,controller)*@

<br />
<hr />
@using (Html.BeginForm("Dashboard", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.fname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.lname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.lname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.lname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        
        <div class="col-md-10">
            @Html.HiddenFor(model => model.createdDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.createdDate, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.modifiedDate, new { @Value = DateTime.Now.ToString("dd-MM-yyyy") })
    @ViewBag.message




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-default" />
            <input type="reset" value="Restore" class="btn btn-default" />
        </div>
    </div>

}

