﻿@model IEnumerable<RegistrationMVC.Models.RegTable>
@{
    ViewBag.Title = "TrainerPage";
    Layout = "~/Views/Shared/_Master.cshtml";
}


    <!-- notice modal -->
    <div class="modal fade" id="skillsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notice">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Trainer Skills</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">close</i>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <h6>Enter Skills<span class="icon-danger" style="color:red">*</span></h6>
                            <div class="input-group border-input">
                                <input id="skill_text" type="text" name="fname"  placeholder="Enter skills.." class="form-control border-input">

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" onclick="myfunction()" class="btn btn-info btn-round" data-dismiss="modal">Done</button>
                    </div>
                </div>
        </div>
    </div>
        </div>
    <!-- end notice modal -->

    <div class="card card-nav-tabs">
        <div class="card-header card-header-rose">
            <h4 class="text-center">Build Trainer Profile</h4>
        </div>
        <div class="card-body">
            <form action="~/User/AddTrainer" method="post" enctype="multipart/form-data">

                <div class="row justify-content-center">

                    <!-- 1st Column-->
                    <div class="col-sm-4 text-center">
                        <p>Trainer Profile Image</p>

                        <!-- profile Picture-->
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail img-circle img-raised">
                                <img src="https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png" alt="...">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
                            <div>
                                <span class="btn btn-raised btn-round btn-default btn-file">
                                    <span class="fileinput-new">Add Photo</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="image" />
                                </span>
                                <br />
                                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                            </div>
                        </div>
                        <!-- /profile Picture-->
                        <hr />
                        @*<h6>Skill Tags</h6>*@


                        @*<h6>Skill Tags <span><a href="#" class="btn btn-primary btn-round btn-fab" data-toggle="modal" data-target="#skillsModal"><i class="material-icons">add</i></a></span></h6>
                        <input id="skill" type="text" name="skills" value="c,c++" class="tagsinput form-control" data-role="tagsinput" data-color="rose">*@


                        <hr />
                        <h6>Active State</h6>
                        <div class="togglebutton">
                            <label>
                                <span>Not Active</span><input name="isactive" type="checkbox" checked="checked">
                                <span class="toggle"></span>
                                Active
                            </label>
                        </div>






                    </div>

                    <div class="col-md-7 col-sm-7">
                        <div class="row">
                            <div class="col-md-6">
                                <h6>First Name<span class="icon-danger" style="color:red">*</span></h6>
                                <div class="input-group border-input">
                                    <input type="text" name="fname" value="" placeholder="Enter First Name.." class="form-control border-input">

                                </div>

                            </div>

                            <div class="col-md-6">
                                <h6>Last Name</h6>
                                <div class="input-group border-input">
                                    <input type="text" name="lname" value="" placeholder="Enter Last Name.." class="form-control border-input">

                                </div>
                            </div>

                        </div>
                        <br />
                        <br />
                        <div class="row price-row">
                            <div class="col-md-6">
                                <h6>Password<span class="icon-danger" style="color:red">*</span></h6>
                                <div class="input-group border-input">
                                    <input type="text" name="pass" value="" placeholder="enter password.." class="form-control border-input">

                                </div>

                            </div>
                            <div class="col-md-6">
                                <h6>Confirm Password</h6>
                                <div class="input-group border-input">
                                    <input type="text" name="confirm_pass" value="" placeholder="Re-enter password.." class="form-control border-input">

                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="form-group">
                            <h6>Email<span class="icon-danger" style="color:red">*</span></h6>
                            <input type="email" name="email" class="form-control border-input" placeholder="enter the e-mail here..">
                        </div>
                        <br />
                        <div class="row price-row">
                            <div class="col-md-6">
                                <h6>Mobile<span class="icon-danger" style="color:red">*</span></h6>
                                <div class="input-group border-input">
                                    <input type="text" name="mob" value="" placeholder="enter mobile number.." class="form-control border-input">

                                </div>

                            </div>
                            @*<div class="col-md-6">
            <h6>Aadhar Number</h6>
            <div class="input-group border-input">
                <input type="text" name="aadhar" value="" placeholder="enter aadhar number.." class="form-control border-input">

            </div>
        </div>*@
                            <div class="col-lg-5 col-md-6 col-sm-3">
                                <select name="orgName" class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Single Select">
                                    @*<option disabled selected>Select Organization</option>*@
                                    <option value="null" selected>Select Organization</option>
                                    @foreach (var item in @ViewBag.organizations)
    {
                                <option value=@item.orgId>@item.orgName</option>


}
                                </select>
                            </div>
                        </div>
                        <br />

                        <!--file upload-->
                        @*<div class="form-group form-file-upload form-file-multiple">
            <h6>Resume<span class="icon-danger" style="color:red">*</span></h6>
            <input type="file" multiple="" class="inputFileHidden">
            <div class="input-group">
                <input type="text" class="form-control inputFileVisible" placeholder="Single File">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-fab btn-round btn-primary">
                        <i class="material-icons">attach_file</i>
                    </button>
                </span>
            </div>
        </div>*@

                        
                  
                        <input type="file" name="file" />
                       
                    




                    </div>

                </div>
                <br />
                <br />
                <!--for buttons-->
                <div class="row buttons-row justify-content-end">
                    <div class="col-md-4 col-sm-4">
                        <button type="reset" class="btn btn-outline-info btn-block"><i class="material-icons">restore</i>  Clear</button>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <button class="btn btn-info btn-block" type="button" data-toggle="modal" data-target="#viewmap"><i class="material-icons">view_day</i>  Mappings</button>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <button type="submit" class="btn btn-rose btn-fill btn-block"><i class="material-icons">save</i>  SAVE</button>
                    </div>
                    @*<button class="btn btn-rose btn-fill" onclick=demo.showSwal('warning-message-and-cancel')>Try me!</button>*@
                </div>

                <!--/for buttons-->
            </form>
        </div>
    </div>




<!-- Mapping Modal -->
<div class="modal fade" id="viewmap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">List of Mapped Franchises</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @foreach (var item in Model)
                {

                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                        <img class="img" src="~/assets/img/faces/card-profile1-square.jpg">
                                    </a>
                                    <div class="ripple-container"></div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h4 class="card-title">@Html.DisplayFor(modelItem => item.fname)</h4>
                                <p class="description">These are the franchises which have selected you for training.</p>
                                <h6>Skill chosen For:</h6>
                                <input type="text" value="C,C++" class="tagsinput form-control" data-role="tagsinput" data-color="rose">
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-default pull-right btn-round">View</button>
                            </div>
                        </div>
                    </div>
                    <hr />
                }


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>
<!-- /Mapping Modal -->


<script>
    function myfunction(e) {
    
        var skills = document.getElementById("skill_text").value;
        //document.getElementById("skill").value = skills;
        //$("#skill").val() = skills;
        document.getElementById("skill").value = "USA";
        //alert(skills);
    }
    

</script>