﻿@*@model IEnumerable<RegistrationMVC.Models.CourseTable>*@
@model RegistrationMVC.Models.CourseTable
@{


    ViewBag.Title = "ViewCourse";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<div class="card card-nav-tabs">
    <div class="card-header card-header-rose">
        <h4 class="text-center">Course Grid</h4>
    

    </div>
    <div class="card-body">
        <div class="text-center">
            <button type="button" class="btn btn-fab btn-round btn-rose" data-toggle="modal" data-target="#addcourse" rel="tooltip" data-placement="bottom" title="Add Course">
                <i class="material-icons">add</i>
            </button>
        </div>

        <hr />


        <!--body-->

        <div class="row">

            @foreach (var item in @ViewBag.crs)
            {


                <div class="col-lg-3 col-md-6 col-sm-6">


                    <div class="card card-nav-tabs">
                        <div class="card-header card-header-info" @*data-header-animation="true"*@>
                            <h4 class="text-center"><i class="fa fa-laptop"></i> @item.CourseName</h4>
                        </div>

                        <div class="card-body">

                            <h4>Amount: <span class="font-weight-bold"><i class="fa fa-rupee"> @item.amount</i></span></h4>
                            <label>Duration: <span>@item.duration</span></label>
                            @*<h6>Active State</h6>*@
                            <br />


                            <div class="togglebutton" id="view_check">
                                <label>
                                    <span>Not Active</span>
                                    @if (@item.isActive == true)
                                    {
                                        <input type="checkbox" checked="checked" disabled="disabled">
                                    }
                                    else
                                    {
                                        <input type="checkbox" disabled="disabled">
                                    }

                                    <span class="toggle"></span>
                                    Active
                                </label>
                            </div>

                        </div>
                        <hr />
                        <div class="card-footer">


                            @*<div class="price">
                                    <h4>$1.119/night</h4>
                                </div>
                                <div class="stats">
                                    <p class="card-category"><i class="material-icons">place</i> London, UK</p>
                                </div>*@


                            <div class="stats">
                                @*<i class="material-icons">access_time</i> 2 days ago*@

                                <button type="button" onclick="DeleteCourseRecord(@item.courseId)" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Delete Course">
                                    <i class="material-icons">delete</i>
                                </button>
                                <button type="button" onclick="EditCourseRecord(@item.courseId)" class="btn btn-info btn-link" rel="tooltip" data-placement="bottom" title="Edit Course" @*data-toggle="modal" data-target="#editcourse"*@>
                                    <i class="material-icons">edit</i>
                                </button>


                            </div>




                        </div>
                    </div>



                </div>

            }

        </div>




    </div>
</div>

<!-- Add Course Modal-->
<form action="~/User/AddCourse" method="post">
    <div class="form-horizontal">
        <div class="modal fade" id="addcourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Course for (Particular Organization)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <h6>Course Name<span class="icon-danger" style="color:red">*</span></h6>
                        <div class="input-group border-input">
                            <input type="text" name="coursename" value="" placeholder="Enter course name.." class="form-control border-input">

                        </div>

                        <br />
                        <h6>Course Duration<span class="icon-danger" style="color:red">*</span></h6>
                        <div class="input-group border-input">
                            <input type="text" name="duration" value="" placeholder="Enter course duration.." class="form-control border-input">
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h6>Amount <span class="icon-danger" style="color:red">*</span></h6>
                                <div class="input-group border-input">
                                    <input type="text" name="amount" value="" placeholder="enter amount in rupees.." class="form-control border-input">
                                    <span class="input-group-addon"><i class="fa fa-rupee"></i></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h6>Active State</h6>

                                <div class="togglebutton">
                                    <label>
                                        <span>Not Active</span><input type="checkbox" name="isactive" checked="checked">
                                        <span class="toggle"></span>
                                        Active
                                    </label>
                                </div>
                            </div>
                        </div>

                        <p>@ViewBag.DuplicateMessage</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-round"><i class="material-icons">add</i> Add Course</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- /Add Course Modal-->



<!-- Edit Course Modal-->

<div class="modal fade" id="editcourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit (Course) for (Particular Organization)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form" method="post" action="~/Coordinator/SaveCourse/">

                <div class="modal-body">



                    @Html.HiddenFor(model => model.courseId, new { @id = "CrsId" })
                    <h6>Course Name<span class="icon-danger" style="color:red">*</span></h6>
                    <div class="input-group border-input">
                        @*<input type="text" value="" placeholder="Enter course name.." class="form-control border-input">*@
                        @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control", @id = "CrsName" } })
                        @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })

                    </div>


                    <br />
                    <h6>Course Duration<span class="icon-danger" style="color:red">*</span></h6>
                    <div class="input-group border-input">
                        @*<input type="text" value="" placeholder="Enter course duration.." class="form-control border-input">*@
                        @Html.EditorFor(model => model.duration, new { htmlAttributes = new { @class = "form-control", @id = "CrsDuration" } })
                        @Html.ValidationMessageFor(model => model.duration, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <h6>Amount <span class="icon-danger" style="color:red">*</span></h6>
                            <div class="input-group border-input">
                                @*<input type="text" value="" placeholder="enter amount in rupees.." class="form-control border-input">*@
                                @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control", @id = "CrsAmount" } })
                                @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
                                <span class="input-group-addon"><i class="fa fa-rupee"></i></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <h6>Active State</h6>

                            @*@Html.CheckBoxFor(model => model.isActive)*@


                            <div class="togglebutton" id="toggleoff">
                                <label>
                                    <span>Not Active</span>@*<input type="checkbox" id="CrsIsActive" checked="checked" name="chk">*@

                                    <input type="checkbox" name="chk">
                                   
                                    <span class="toggle"></span>
                                    Active

                                </label>
                            </div>
                            <div class="togglebutton" id="toggleon">
                                <label>
                                    <span>Not Active</span>@*<input type="checkbox" id="CrsIsActive" checked="checked" name="chk">*@

                                    <input type="checkbox" checked="checked" name="chk">

                                    <span class="toggle"></span>
                                    Active

                                </label>
                            </div>


                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-round"><i class="material-icons">save</i> Save</button>
                </div>


            </form>
        </div>
    </div>

</div>
<!-- Edit Course Modal-->



<!-- Delete Course Modal-->

<div class="modal fade" id="DeleteCourseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Delete Course</h4>
            </div>
            <form method="post" action="~/Coordinator/DeleteCourse">
                <div class="modal-body">
                    @Html.HiddenFor(model => model.courseId, new { @id = "CrsId1" })
                    
                    <div class="input-group border-input">
                       
                        @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control", @id = "CrsName1" } })
                        @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })

                    </div>
                    <h4>Are You Sure? You Want To Delete This Course.</h4>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>
                    

                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-trash"></i>Confirm
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>


<!-- /Delete Course Modal-->

<script>

    $('#view_check').prop('disabled', true); //TO DISABLED 




    //Show The Popup Modal For Edit COURSE Record

    function EditCourseRecord(CourseId) {

        //document.getElementById("mahesh").innerHTML = CourseId;

        $.ajax({
            type: "GET",
            url: "/User/ViewCourse/" + CourseId,
            success: function (data) {
                // window.location = "/User/ViewCourse/" + CourseId;
                var obj = JSON.parse(data);
                $("#CrsId").val(obj.courseId);
                $("#CrsName").val(obj.CourseName);
                $("#CrsDuration").val(obj.duration);
                $("#CrsAmount").val(obj.amount);
                $("#CrsIsActive").val(obj.isActive);
               
                $("#editcourse").modal();
                if (obj.isActive == true) {
                    $("#toggleoff").hide();
                    $("#toggleon").show();
                } else {
                    $("#toggleon").hide();
                    $("#toggleoff").show();
                }
               

            }
        })

    }

    
    //Show The Popup Modal For DeleteComfirmation
    function DeleteCourseRecord(CourseId) {
       
        $.ajax({
            type: "GET",
            url: "/Coordinator/DeleteCourse/" + CourseId,
            success: function (value) {
                // window.location = "/User/ViewCourse/" + CourseId;
                var obj1 = JSON.parse(value);
                $("#CrsId1").val(obj1.courseId);
                $("#CrsName1").val(obj1.CourseName);


                $("#DeleteCourseModal").modal();
            }
        })

    }



   


</script>



