﻿
<!DOCTYPE html>



<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/assets/img/apple-icon.png">
    <link rel="icon" href="~/assets/img/favicon.png">
    <title>
        Trainers Pool
    </title>




    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/material-kit.mine8da.css?v=2.0.3">


</head>


<!-- this the section of LOGIN form-->


<div class="modal fade" id="loginModal" tabindex="-1" role="">
    <div class="modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain card-container manual-flip">
                <div class="modal-header">
                    <div class="card-header card-header-primary text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                        <h4 class="card-title">Log in</h4>
                        @*<div class="social-line">
                                <a href="#pablo" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link">
                                    <i class="fa fa-google-plus"></i>
                                    <div class="ripple-container"></div>
                                </a>
                            </div>*@

                        <div class="social text-center">
                            <button class="btn btn-just-icon btn-round btn-twitter">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button class="btn btn-just-icon btn-round btn-google">
                                <i class="fa fa-google"> </i>
                            </button>
                            <button class="btn btn-just-icon btn-round btn-facebook">
                                <i class="fa fa-facebook"> </i>
                            </button>

                        </div>
                    </div>
                </div>
                <form class="form" action="~/User/Login" method="post">
                    <div class="modal-body">

                        <p class="description text-center">Or Be Classical</p>
                        <div class="card-body">

                            @*<div class="form-group bmd-form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">face</i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="First Name...">
                                    </div>
                                </div>*@

                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">email</i>
                                    </span>
                                    <input type="text" name="email" class="form-control" placeholder="Email...">
                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    <input type="password" name="password" placeholder="Password..." class="form-control">
                                </div>
                            </div>

                            <a href="#" onclick="rotateCard(this)">Forgot password?</a>

                        </div>

                    </div>
                    <div class="modal-footer justify-content-center">
                        @*<a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">Get Started</a>*@
                        <button class="btn btn-primary btn-link btn-wd btn-lg" type="submit">Get Started</button>

                    </div>
                    <p>@ViewBag.LoginErrorMessage</p>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- LOGIN section END------->



<!-- Section for SignUp modal-->

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-signup" role="document">
        <div class="modal-content">
            <div class="card card-nav-tabs">
                <h4 class="card-header card-header-info text-center">REGISTER</h4>
                
                @*<div class="modal-header">
                    <h5 class="modal-title card-title">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                    </button>


                </div>*@
                <div class="modal-body">


                    <!-- BODY-->

                 


                    <!-- body-->

                    <br />
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <ul class="nav nav-pills nav-pills-rose">
                                <li class="nav-item"><a class="nav-link active" href="#pill1" data-toggle="tab">Student</a></li>
                                <li class="nav-item"><a class="nav-link" href="#pill2" data-toggle="tab">Trainer</a></li>
                                <li class="nav-item"><a class="nav-link" href="#pill3" data-toggle="tab">Organization</a></li>
                            </ul>
                            <div class="tab-content tab-space">



                                <div class="tab-pane active" id="pill1">
                                    <!-- pill 1-->

                                    <form action="~/User/AddStudent" method="post">

                                        <div class="row">

                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">face</i>
                                                    </span>
                                                    <input type="text" name="fname" class="form-control" placeholder="Student First Name...">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">face</i>
                                                    </span>
                                                    <input type="text" name="lname" class="form-control" placeholder="Last Name...">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-7 col-md-7 col-lg-7">
                                            <div class="form-group bmd-form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">lock_outline</i>
                                                    </span>
                                                    <input type="password" name="pass" placeholder="Password..." class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group bmd-form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">lock_outline</i>
                                                    </span>
                                                    <input type="password" name="confirm_pass" placeholder="Re-Enter Password..." class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group bmd-form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">mail</i>
                                                    </span>
                                                    <input type="email" name="email" placeholder="Enter email here..." class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- pill 1(student) submit button-->

                                        <div class="row">
                                            <div class="col-md-3 ml-auto">
                                                <button type="submit" class="btn btn-primary btn-round">
                                                    <i class="material-icons">person_add</i> Register
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                               

                                <div class="tab-pane" id="pill2">

                                    <form action="~/User/AddTrainer" method="post">

                                        <div class="row">

                                            <!-- for passing null value of OrgId-->
                                            <input type="text" value="null" name="orgName" hidden/>

                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">face</i>
                                                    </span>
                                                    <input type="text" name="fname" class="form-control" placeholder="Trainer First Name...">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">face</i>
                                                    </span>
                                                    <input type="text" name="lname" class="form-control" placeholder="Last Name...">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-7 col-md-7 col-lg-7">
                                            <div class="form-group bmd-form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">lock_outline</i>
                                                    </span>
                                                    <input type="password" name="pass" placeholder="Password..." class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group bmd-form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">lock_outline</i>
                                                    </span>
                                                    <input type="password" name="confirm_pass" placeholder="Re-Enter Password..." class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group bmd-form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">mail</i>
                                                    </span>
                                                    <input type="email" name="email" placeholder="Enter email here..." class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- pill 2(Trainer) submit button-->
                                        <div class="row">
                                            <div class="col-md-3 ml-auto">
                                                <button type="submit" class="btn btn-primary btn-round">
                                                    <i class="material-icons">person_add</i> Register
                                                </button>
                                            </div>
                                        </div>
                                        </form>
                                </div>

                                <div class="tab-pane" id="pill3">

                                    <form action="~/Admin/AddOrg" method="post">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">group</i>
                                                </span>
                                                <input type="text" name="orgname" class="form-control" placeholder="Organization name...">
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">face</i>
                                                    </span>
                                                    <input type="text" name="first_name" class="form-control" placeholder="First Name...">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">face</i>
                                                    </span>
                                                    <input type="text" name="last_name" class="form-control" placeholder="Last Name...">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-7 col-md-7 col-lg-7">
                                            <div class="form-group bmd-form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">lock_outline</i>
                                                    </span>
                                                    <input type="password" name="pass" placeholder="Password..." class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group bmd-form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">lock_outline</i>
                                                    </span>
                                                    <input type="password" name="confirm_pass" placeholder="Re-Enter Password..." class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group bmd-form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">mail</i>
                                                    </span>
                                                    <input type="email" name="email" placeholder="Enter email here..." class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- pill 3(organization) submit button-->
                                        <div class="row">
                                            <div class="col-md-3 ml-auto">
                                                <button type="submit" class="btn btn-primary btn-round">
                                                    <i class="material-icons">person_add</i> Register
                                                </button>
                                            </div>
                                        </div>

                                        </form>
                                </div>


                            </div>
                        </div>
                    </div>

                    <!--  big container -->





                </div>
            </div>
        </div>
    </div>
</div>

<!-- end section for SignUp modal-->





<body class="index-page ">
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="index.html">Trainers Pool </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="material-icons">apps</i> Tasks
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="index.html" class="dropdown-item">
                                <i class="material-icons">layers</i> Home
                            </a>
                            <a href="~/User/AddorEdit" class="dropdown-item">
                                <i class="material-icons">content_paste</i> Registration
                            </a>
                            <a href="~/User/Registration_test" class="dropdown-item">
                                <i class="material-icons">content_paste</i> Registration1
                            </a>
                            <a href="~/Home/About" class="dropdown-item">
                                <i class="material-icons">content_paste</i> About
                            </a>
                            <a href="~/Home/Contact" class="dropdown-item">
                                <i class="material-icons">content_paste</i> Contact
                            </a>
                            <a href="~/Admin/MyProfile" class="dropdown-item">
                                <i class="material-icons">content_paste</i> Administration
                            </a>
                            <a href="~/User/SignUp" class="dropdown-item">
                                <i class="material-icons">content_paste</i> SignUp Wizard
                            </a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="material-icons">view_day</i> Sections
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="sections.html#headers" class="dropdown-item">
                                <i class="material-icons">dns</i> Headers
                            </a>
                            <a href="sections.html#features" class="dropdown-item">
                                <i class="material-icons">build</i> Features
                            </a>
                            <a href="sections.html#blogs" class="dropdown-item">
                                <i class="material-icons">list</i> Blogs
                            </a>
                            <a href="sections.html#teams" class="dropdown-item">
                                <i class="material-icons">people</i> Teams
                            </a>
                            <a href="sections.html#projects" class="dropdown-item">
                                <i class="material-icons">assignment</i> Projects
                            </a>
                            <a href="sections.html#pricing" class="dropdown-item">
                                <i class="material-icons">monetization_on</i> Pricing
                            </a>
                            <a href="sections.html#testimonials" class="dropdown-item">
                                <i class="material-icons">chat</i> Testimonials
                            </a>
                            <a href="sections.html#contactus" class="dropdown-item">
                                <i class="material-icons">call</i> Contacts
                            </a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="material-icons">view_carousel</i> Examples
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="examples/about-us.html" class="dropdown-item">
                                <i class="material-icons">account_balance</i> About Us
                            </a>
                            <a href="examples/blog-post.html" class="dropdown-item">
                                <i class="material-icons">art_track</i> Blog Post
                            </a>
                            <a href="examples/blog-posts.html" class="dropdown-item">
                                <i class="material-icons">view_quilt</i> Blog Posts
                            </a>
                            <a href="examples/contact-us.html" class="dropdown-item">
                                <i class="material-icons">location_on</i> Contact Us
                            </a>
                            <a href="examples/landing-page.html" class="dropdown-item">
                                <i class="material-icons">view_day</i> Landing Page
                            </a>
                            <a href="examples/login-page.html" class="dropdown-item">
                                <i class="material-icons">fingerprint</i> Login Page
                            </a>
                            <a href="examples/pricing.html" class="dropdown-item">
                                <i class="material-icons">attach_money</i> Pricing Page
                            </a>
                            <a href="examples/ecommerce.html" class="dropdown-item">
                                <i class="material-icons">store</i> Ecommerce Page
                            </a>
                            <a href="examples/product-page.html" class="dropdown-item">
                                <i class="material-icons">shopping_cart</i> Product Page
                            </a>
                            <a href="examples/profile-page.html" class="dropdown-item">
                                <i class="material-icons">account_circle</i> Profile Page
                            </a>
                            <a href="examples/signup-page.html" class="dropdown-item">
                                <i class="material-icons">person_add</i> Signup Page
                            </a>

                        </div>
                    </li>
                    <li class="button-container nav-item iframe-extern">
                        <button class="btn btn-round btn-rose btn-block" data-toggle="modal" data-target="#signupModal">
                            <i class="material-icons">assignment</i>
                            SignUp
                        </button>
                    </li>
                    <li class="button-container nav-item iframe-extern">
                        <button class="btn btn-round" data-toggle="modal" data-target="#loginModal">
                            <i class="material-icons">assignment</i>
                            Login
                        </button>
                    </li>
                    

                </ul>
            </div>
        </div>
    </nav>
    <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url('~/assets/img/bg0.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand">
                        <h1>
                            Trainers Pool
                            <span class="pro-badge">
                                *
                            </span>
                        </h1>
                        <h3 class="title"> --- </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer ">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="#">
                            Trainers' Pool
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, made with <i class="material-icons">favorite</i> by
                <a href="#" target="_blank">ElephantTree</a> for a better web.
            </div>
        </div>
    </footer>
    <!--   Core JS Files   -->
    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/bootstrap-material-design.min.js"></script>
    <!--  Google Maps Plugin  -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
    <script src="~/assets/js/plugins/moment.min.js"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="~/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/assets/js/plugins/nouislider.min.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
    <script src="~/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--	Plugin for Small Gallery in Product Page -->
    <script src="~/assets/js/plugins/jquery.flexisel.js"></script>
    <!-- Plugins for presentation and navigation  -->
    <script src="~/assets/assets-for-demo/js/modernizr.js"></script>
    <script src="~/assets/assets-for-demo/js/vertical-nav.js"></script>
    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src="~/assets/js/material-kit.mine8da.js?v=2.0.3"></script>
    <!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
    <script src="~/assets/assets-for-demo/js/material-kit-demo.js"></script>
    <script>
        $(document).ready(function () {

            //init DateTimePickers
            materialKit.initFormExtendedDatetimepickers();

            // Sliders Init
            materialKit.initSliders();
        });
    </script>
    <!-- Sharrre libray -->
    <script src="~/assets/assets-for-demo/js/jquery.sharrre.js">
    </script>



</body>

